.ledger-table {
    width: 100%;
    border-collapse:separate;
    
    background-color: #fff;
    
 /* Optional: Rounded corners for a modern look */
     /* Ensures the content respects rounded corners */
  }
  .table-div{
    /* border: 1px solid #ddd; */
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow added */
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;

  }
  
  .ledger-table th,
  .ledger-table td {
    padding: 12px;
   
    text-align: left;
             /*  padding: 10px; */
              text-align: center;
              
  }
  
  .ledger-table th {
    background-color:#003466;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color:white;
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    
  }
  
  .ledger-table td {
    font-size: 14px;
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
  }
  .tr1:nth-child(even) {  
    background:#EFF1FF;  
}
.tr1:nth-child(odd) {  
    background-color: white;  
}
table tr:hover {
  background-color: #D2EDF1;
}
.total-div{
  /* border: 1px solid #ddd; */
  border-left: 1px solid rgba(0, 41, 70, 0.6);
  border-bottom: 1px solid rgba(0, 41, 70, 0.6);
  border-right: 1px solid rgba(0, 41, 70, 0.6);
  padding-top: 10px;
  overflow: hidden;
}
.floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}

.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}

.main-container {
    width: 96%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2%;
    height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
}


.listview {

    height: 75vh;
    overflow-y: auto;  
    overflow-x: hidden;
}


.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0099DE;
}

.table {
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0; 
    margin-left: 1%;
    width: 98%;
  }

 .table td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 .table th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
 }
 
 .tr:nth-child(even) {  
    background:#F1F1F1;  
}
.tr:nth-child(odd) {  
    background-color: #FFFFFF; 
}
.tr:hover {
    background-color: #EEF4FF;
 }


/* for 125dpi */
@media (min-resolution: 101dpi) {

           .main-container {

    height: 82vh;
}
        .listview {
            height: 70vh;
        } 
        .right-content {

    max-height: 70vh;
}


}


/* for 150dpi */

@media (min-resolution: 126dpi) {

  .main-container {
    height: 79vh;
  }

    .listview {
        height: 63vh;
    } 

    .toggle-label {
        display: none;
    }

      .right-content {

    max-height: 64vh;
}


}