.container {
  margin: 3% auto;
  background: #f5faff;
  padding: 2%;
  border-radius: 10%;
  box-shadow: 0 4% 6% rgba(0, 0, 0, 0.1);
  height: 50%;
}
.container-box {
  border-radius: 5%;
  width: 100%;
  height: 100%;
  background-color: white;

}

/* .container-box {
  border-radius: 5%;
  width: 100%;
  height: 95%;
  background-color: white;

}

.hover {
  transition: all 0.3s ease-in-out;
  position: relative;
}

.hover:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
} */

.custom-welcome-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.2rem; /* Adjust as needed */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #022951, #0099de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 1.5s ease-in-out;
}

.name-text {
  font-family: 'Dancing Script', cursive; /* Stylish font for the name */
  font-size: 2.5rem;
  color: #0099de; /* Highlight name with vibrant blue */
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}