/* .container-box {
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: white;
	margin-bottom: 20px;
	transition: all 0.3s ease-in-out;
  }

  .container-box:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  } */
  .container-box1 {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 15px; /* Reduced padding */
    width: 500px;  /* Smaller div */
    transition: all 0.3s ease-in-out;
    height: 380px;
}
.container-box1:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  .floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}

.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}