.slds-cell-wrap {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px; /* Adjust this value as needed */
}
.tr1:nth-child(odd) {  
    background-color: white;  
}
table tr:hover {
    background-color: #D2EDF1;
  }
.th{
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
}
table {
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0;  
  }
 table td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 table th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 .description{
    width: 20%; /* Adjust as needed */
    max-width: 200px; /* Example maximum width */
    overflow: hidden;
    text-overflow: ellipsis; /* Optional: Truncate text with ellipsis */
    white-space:nowrap;

     /* Optional: Prevent wrapping */
}
.description:hover {
    white-space: normal; /* Allow text to wrap and display full content on hover */
    overflow: visible; /* Ensure full content is visible */
    text-align:initial;
}
.receievd:hover{
    cursor: pointer;
}
/* praveen css */
.container-total {
    border: 0;
    box-shadow: 0;
    display: flex;
    justify-content: flex-end; 
    padding: 60px;
    margin-top: -50px;
    margin-bottom: -40px;        
}

.box1 {        
    padding-left: 20px;
    margin-left: 20px;        
    width: 400px;
}

.box1 table {        
    width: 100%;
    border-collapse: collapse;
}

.box1 th, .box1 td {        
    padding: 8px;
    border: none;
}

.box1 th {        
    text-align: left;
    font-weight: normal;
}

.box1 td {
    border: 0;
    box-shadow: 0;
    text-align: right;
}

.line {
    border-top: 4px solid #000;
    margin: 10px 0;
}
.totaltext {
    font-weight: bold;
    font-size: 24px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 8px;
    text-align: right;
}
/* New styles for the third row */
.box1 tr.total-row td {
    border: 0;
    box-shadow: 0;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
 .box1 tr.total-row th {
    border: 0;
    box-shadow: 0;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}