.participantlayout
{
     width:98%;
    height: auto;
    border-radius: 6px 6px 6px 6px;
    background: var(--Primary_White, #FFFFFF);
    padding: 10px 10px 10px 10px;
    margin-left:1%;
}

/* 
.fc-col-header-cell-cushion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none !important;
}

.fc-col-header-cell-cushion > span:nth-child(1) {
    font-weight: normal; 
    margin-bottom: 2px; 
}

.fc-col-header-cell-cushion > span:nth-child(2) {
    font-weight: bold; 
    display: block; 
} */
 h2 {
font-weight: bold;
 }
/*  .fc-agenda-view .fc-slats td {
    height: 40px; 
} */

.fc-agenda-slots td {
    height: 50px; /* Change this value to increase or decrease the slot height */
}


.fc-event {
    min-height:15px;
    
    font-size: 12px; 
}