.shiftlayout{
    width:100%;
height: auto;
top: 143px;
left: 50px;
gap: 0px;
border-radius: 6px 6px 6px 6px;
opacity: 0px;
background: var(--Primary_White, #FFFFFF);
padding: 1% 0px 1% 0px;
align-content: center;
overflow: hidden;
}
.upload{
    width: Fixed (397px)px;
height: Fixed (180px)px;
top: 462px;
left: 62px;
padding: 50px 0px 0px 0px;
gap: 14px;
opacity: 0px;
background: var(--medium-Light-Grey, #DFDCE3);


}
/* Define alternating row colors */
.even-row {
    background-color: #EFF1FF;
}

.odd-row {
    background-color: white;
}

.no-data {
    text-align: center;
    padding: 3rem 1rem;
    color: #6B7280;
}

.no-data p {
    font-size: 22px;
    margin: 0;
}

/* Hover effect */
/* .slds-table tbody tr:hover {
    background-color: #D2EDF1;
} */

/* Table styling */
/* .slds-table {
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 3px solid rgba(0, 41, 70, 0.6);
    border-right: 3px solid rgba(0, 41, 70, 0.6);
    border-top: 3px solid rgba(0, 41, 70, 0.6);
    border-bottom: 3px solid rgba(0, 41, 70, 0.6);
}

.slds-table td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
}

.slds-table th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    background-color: #3C76A8;
    color: white;
    font-family: 'Light', sans-serif;
    font-weight: bold;
}
 */





.upload-container {
    width: 400px;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.upload-container .upload-header {
    text-align: center;
    margin-bottom: 20px;
}

.upload-container .upload-header h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.upload-container .upload-header p {
    font-size: 14px;
    color: #6c6c6c;
}

.upload-container .upload-dropzone {
    border: 2px dashed #d8d8d8;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 30px;
    text-align: center;
}

.upload-container .upload-dropzone .dropzone-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-container .upload-dropzone .dropzone-content lightning-icon {
    color: #6c6c6c;
    margin-bottom: 10px;
}

.upload-container .upload-dropzone .dropzone-content p {
    font-size: 16px;
    margin: 10px 0;
    color: #4a4a4a;
}

.upload-container .upload-dropzone .dropzone-content span {
    font-size: 12px;
    color: #9a9a9a;
    margin-bottom: 20px;
}

.upload-container .upload-dropzone .upload-button {
    display: inline-block;
    background-color: #0070d2;
    color: white;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
}

.upload-container .upload-dropzone .upload-button:hover {
    background-color: #005fb2;
}

.upload-container .upload-dropzone .hidden-file-input {
    display: none;
}

.container {
    width: 100%;
    /* padding: 1% 1% 1% 1%; */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    
}
.tr1:nth-child(even) {  
   background:#F1F1F1;    
}
.tr1:nth-child(odd) {  
    background-color: #FFFFFF;  
}
table th{
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
}
table {
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0;  
}
table td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
}
table th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
}
table tr:hover {
    background-color: #EEF4FF;
}
.description{
    width: 20%; /* Adjust as needed */
    max-width: 200px; /* Example maximum width */
    overflow: hidden;
    text-overflow: ellipsis; /* Optional: Truncate text with ellipsis */
    white-space:nowrap;

     /* Optional: Prevent wrapping */
}
.description:hover {
    white-space: normal; /* Allow text to wrap and display full content on hover */
    overflow: visible; /* Ensure full content is visible */
    text-align:initial;
    width: auto;
    max-width: none; /* Remove max width restriction */
    word-wrap: break-word; /* Ensure long words break */
}
.container-box {
    /* border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 20px; */
    margin: 0 1% 1%;
  }
  .toggle-bar {
    background-color: #E0E0E0;
    padding: 10px 20px;
    /* color: white; */
  
    border-radius: 5px 5px 0px 0px;
    font-size: 16px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .toggle-bar:hover {
    background-color: #022951;
    color: white;
    border-radius: 5px 5px 0px 0px;
  
  
  }
  @keyframes fadeOutSlide {
    0% {
        opacity: 0;
        transform: translateX(100%); /* Start off-screen on the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

@keyframes fadeOutSlideReverse {
    0% {
        opacity: 1;
        transform: translateX(0); /* Start at the original position */
    }
    100% {
        opacity: 0;
        transform: translateX(100%); /* Move off-screen to the right */
    }
}

.right-align1 {
    position: absolute; 
    right: 0;
    top: 0%;
    height: auto; /* Full height of the parent container */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
    background-color: #F3F5F7;
    z-index: 1000;
    padding: 1%;
    animation: fadeOutSlide 1s ease-in-out;
    margin-left:5%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 999;
}
.activity-card {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-radius: 16px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    background: #ffffff;
    overflow: hidden; /* Ensures content fits inside rounded corners */
    min-width: 250px; /* Ensures a decent card width */
    padding: 12px;
}

.activity-card .left-strip {
    width: 100%;
    /* border-top-left-radius: 16px;
    border-bottom-left-radius: 16px; */
    /* background: #f3c1ff;  */
    height: 100%;
    flex-shrink: 0; /* Ensures the strip doesn't shrink */
    border-left: 5px solid #6babf5;
}

.activity-card .content {
    padding: 12px;
    flex-grow: 1;
}

.activity-card .title {
    font-weight: bold;
    color: #333;
    font-size: 14px;
}
.custom-close-icon lightning-primitive-icon {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    --slds-c-icon-color-foreground: white;
}
.custom-close-icon :hover{
    --slds-c-icon-color-foreground: white;

}
.modal-header {
    background: #124795;
   /*  border-radius: 15px 15px 0 0; */
    text-align: center;
    padding: 1rem;
  }
  
  /* Header text style */
  .modal-title {
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
  }
  
  /* Center the buttons */
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  .reviewActivity{
    background-color: #f0f0f0;
    padding: 10px 20px;
    
  }
  .reviewActivity {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
}

.reviewActivity p {
    margin: 5px 0;
    font-size: 14px;
}

.slds-modal__content {
    border-radius: 0 0 15px 15px;
    max-height: 400px;
    overflow-y: auto;
}

.slds-modal__header {
    /* border-radius: 15px 15px 0 0; */
    background-color: #124795;
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 15px;
}

.custom-close-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    --slds-c-icon-color-foreground: white;
}

.slds-m-around_x-small {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.slds-button {
    border-radius: 5px;
}

.slds-m-around_small {
    margin: 10px;
}
.checklist-container {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    /* background: #f9f9f9; */
    border-radius: 10px;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.checklist-item {
    display: flex;
    align-items: center;
    padding: 5px;
   
}
.icon-approved {
    color: green;
    margin-right: 5px;
}
.icon-pending {
    color: gray;
    margin-right: 5px;
}
.mandatory-mark {
    color: red;
    font-weight: bold;
    margin-right: 3px;
}
.checklist-description {
    flex: 1;
}

.button-primary {
    margin-right: 10px;
}
.button-secondary {
    background: transparent;
    border: 1px solid #ccc;
    color: #333;
}
.shift-container {
    display: GRID;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    /* gap: 1rem; */
    /* margin-bottom: 1rem; */
    /* MARGIN-TOP: 20PX; */
    PADDING: 10PX;
    /* align-content: flex-start; */
    grid-template-columns: 0.8fr 2fr;
}
.floating-label-new {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
  }
  .label-text-drop {
    position: absolute;
    top: -10px;
    left: 15px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
  }

.shift-details {
    flex: 1;
    font-size: 12px;
}

.comment-box {
    flex: 1;
}

.comment-box lightning-textarea {
    width: 100%;
}
.button-container1{
    display: flex;
    justify-content:center;
    margin-top: 10px;
}
/* .slds-modal__container2{
    WIDTH: fit-content;
    POSITION: ABSOLUTE;
    TOP: 50%;
    LEFT: 50%;
    -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

.main-container {
    width: 98%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1%;
    height: 87vh;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0099DE;
}

/* for 125dpi */
@media (min-resolution: 101dpi) {

           .main-container {

    height: 84vh;
}
        .table-container {
            height: 70vh;
        } 


}


/* for 150dpi */

@media (min-resolution: 126dpi) {

  .main-container {
    height: 81vh;
  }

    .table-container {
        height: 63vh;
    } 


}