.geeks {
   
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
}

.geeks img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.geeks:hover img {
    transform: scale(1.5);
}
.participantlayout
{
     width:98%;
    height: auto;
    border-radius: 6px 6px 6px 6px;
    background: var(--Primary_White, #FFFFFF);
    margin-left:-3.5%;
    

}
.participantClass2{
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
    /* background:white; */ 
    color: black;
    margin-left: 1px;
    /* margin-top: 10px; */
    background:#e6ecf1; color: black;
}
.participantClass{
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
    background:#005C90;
    color : white; 
    margin-left: 1px;  
}
.custom-avatar .slds-avatar {
    height: 50px !important; /* Adjust the height as needed */
    width: 50px !important;  /* Adjust the width as needed */
}

.custom-avatar .slds-avatar__img {
    height: 50px !important; /* Adjust the height as needed */
    width: 50px !important;  /* Adjust the width as needed */
}
body {
    
    margin: 0;
    padding: 0 30px 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}

.container h2 {
    text-align: left;
    margin-bottom: 20px;
}

.grid h5 {
    text-align: top;
    margin-bottom: 20px;
}

.grid-item {
    display: flex;
    align-items: center;
    padding: 10px 30px 30px 30px;
    border-right-style:solid;
    border-color:#a8bcc4;
   
}
.grid-item img {
    border-radius: 50%;
    padding: 5px;
    border: 2px solid #a8bcc4;
    width: 100px; /* Ensure width and height are equal */
    height: 100px; /* Ensure width and height are equal */
    object-fit: cover; /* Ensures the image covers the element completely */
    object-position: top;
}
.grid-item .text-container {
    margin-left: 20px;
}
.grid-item h3 {
    margin: 0;
    line-height: 1.2;
}
.grid-item .designation {
    font-size: 0.9em;
    color: #666;
}
.grid-item2 {
    display: flex;
    flex-direction: column;
     align-items: top;
    padding: 40px 0 0 0;
    border-color:#a8bcc4;
  
}

 .grid-item3 {
    display: flex;
    align-items: top;
    flex-direction1: column;
    padding: 40px 0 0 0;
      
}

 .grid-item4 {
    display: flex;
  align-items: center;
    flex-direction1: column;
    
}
 .grid-item4 img {
    border-radius: 50%;
    padding: 5px;
    flex-direction: column;
    border: 2px solid #ddd;
    max-width: 100%;
    height: auto;
}

.grid-item4 h5 {
    margin: 0;
    line-height: 1.2;
}

.status-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}
.button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    float: right;
}
.status-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
.assignments {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.assignments h5 {
    margin: 0;
}
.menu-container {
    width: 90%;
    height: 50px;
    background-color:#003466; /* Dark blue background */
    border: 3px solid #ccc; /* Light border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow */
    border-radius: 30px; /* Rounded corners */
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 20px;
    font-weight:bold;
    margin-left:5%;
}
.menu-item {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
.menu-item1{
    padding: 10px 15px;
    color: black;
    background-color:white;
    cursor: pointer;
    margin-right: 20px;
    border-radius:5px;
}
.button-item {
    display: inline-block;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    color: #00008B;
    text-align: center;
    font-size: 18px;
    padding: 15px 25px;
    text-decoration: none;
    box-shadow: 0 6px #999;
    transition: all 0.3s ease;
    cursor: pointer;
}
.menu-item:hover {
    background-color: #1E90FF; /* Change background on hover */
}
.button-item1:hover {
    background-color: #20B2AA; /* Change background on hover */
}
.menu-item.active {
    background-color: white; /* Background when clicked */
}
.job-details-container {
    width: 90%;
    padding: 40px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left:5%;
}
.job-details-container h3 {
    margin-bottom: 20px;
}

.job-detail table {
    text-align: left;
    width: 100%;

}

.job-details-container th, .job-details-container td {
    padding: 10px;
    text-align: left;
}

.list-box {
    max-width: 500px; /* Adjust width as needed */
    margin-left: 1%;
}
@keyframes slideInRight {
    0% {
        transform: translateX(1000px); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(0); /* Move to the original position */
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0); /* Start at the original position */
    }
    100% {
        transform: translateX(1000px); /* Move off-screen to the right */
    }
}

.grid {
    display: grid;
    align-items: top;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    position: absolute;
    right: 0;
    top: 10.5%;
    height: 60;
    width: 800px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    border-color: #000000;
    animation-duration: 0.5s; /* Smooth animation */
    animation-timing-function: ease-in-out; /* Smooth start and end */
    animation-fill-mode: forwards; /* Keep the end state */
    visibility: hidden; /* Start as hidden */
}

.grid.slide-in {
    animation-name: slideInRight;
    visibility: visible; /* Ensure it becomes visible when sliding in */
}

.grid.slide-out {
    animation-name: slideOutRight;
}
@keyframes fadeOutSlide {
    0% {
        opacity: 0;
        transform: translateX(100%); /* Start off-screen on the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

@keyframes fadeOutSlideReverse {
    0% {
        opacity: 1;
        transform: translateX(0); /* Start at the original position */
    }
    100% {
        opacity: 0;
        transform: translateX(100%); /* Move off-screen to the right */
    }
}

.right-align {
    position: absolute; 
    right: 0;
    top: 0%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
    background-color: #F3F5F7;
    z-index: 1000;
    overflow-y: hidden;
    overflow-x: hidden;
    animation: fadeOutSlide 1s ease-in-out;
    margin-left:5%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.right-align1 {
    position: absolute; 
    right: 0;
    top: 0%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
    background-color: #F3F5F7;
    z-index: 1000;
    /* overflow-y: hidden; */
   /*  overflow-x: hidden; */
    animation: fadeOutSlide 1s ease-in-out;
    margin-left:5%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.right-align-reverse {
    position: absolute; 
    right: 0;
    top: 0%;
    height: 100vh;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
    background-color: #ffffff; /* Optional background color */
    z-index: 10; /* Ensure it's above other elements */
    overflow-y: hidden;
    overflow-x: hidden;
    animation: fadeOutSlideReverse 1s ease-in-out;
}
/* .container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    margin:2%
  } */

  .container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 1%;
}
.container-box {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 20px;
}
.toggle-bar {
    background-color: #E0E0E0;
    padding: 10px 20px;
    /* color: white; */
  
    border-radius: 5px 5px 0px 0px;
    font-size: 16px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.toggle-bar:hover {
    background-color: #022951;
    color: white;
    border-radius: 5px 5px 0px 0px;
}
.floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Semi-transparent dark overlay */
    backdrop-filter: blur(5px); /* Blur effect */
    z-index: 999; /* Place it above the main content */
}
/* .task-heading {
    font-size: 1.5rem; 
    font-weight: bold;
    margin-bottom: 1rem;
    color: #000000; 
    padding-top: 10px; 
    padding-left: 15px;
} */
.seperator {
    background-color: white;
    border-radius: 8px;
    margin: 2%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.info-icon {
    transition: background-color 0.1.5s ease-in-out, transform 0.1.5s ease-in-out;
}

.info-icon.hover {
    animation: fadeIn 0.1.5s ease-in-out;
    background-color: #022951; 
    color: #FFFFFF; 
}
.image{
    border-radius: 50%;
    padding: 5px;
    border: 2px solid #a8bcc4;
    width: 45px; /* Ensure width and height are equal */
    height: 45px; /* Ensure width and height are equal */
    object-fit: cover; /* Ensures the image covers the element completely */
    object-position: top;
}

.card {
    border: 1px solid #d8dde6;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    flex-wrap: nowrap;
}

.section {
    /* flex: 1; */
    min-width: 130px;
}

.section p {
    margin: 4px 0;
}

.notes {
    max-width: 300px;
}

.edit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.custom-icon-edit { 
 --slds-c-icon-color-background: #0099DE;
}

.floating-label1{
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}

.container-box1 {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px
}

.section-content{
    background-color: white;
}

.participantlayoutSnapshot{
    width:99%;
    height: auto;
    border-radius: 6px 6px 6px 6px;
    background: var(--Primary_White, #FFFFFF);
    margin-left:-3.5%;
}


.card1 {
    position: relative;
    border: 1px solid #ddd;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    flex-wrap: nowrap;
    width: 96%;
}

/* Make scroll-area take up horizontal space but scroll only its content */
.scroll-area {
    max-height: 100px;
    overflow-y: auto;
    padding-right: 7rem; /* create space for scrollbar */
}


/* Display columns in a row */
.scroll-row {
    display: flex;
    gap: 10rem;
}

/* Allow each column to flex */
.scroll-column {
    /* flex: 1; */
    min-width: 200px;
}


/* Default scrollbar style */
.scroll-area::-webkit-scrollbar {
    width: 4px;
    transition: width 0.3s;
}

/* Thumb */
.scroll-area::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 4px;
}

/* On hover – increase width */
.scroll-area:hover::-webkit-scrollbar {
    width: 7px;
}


.custom-icon-edit1 { 
 --slds-c-icon-color-background: #0099DE;
 position: absolute;
 right: 7%;
}