.fade-in {
    opacity: 0;
    transform: translateX(100%) translateY(30px); /* Start off-screen on the right */
    animation: fadeOutSlide 1s forwards;
  }
  
  @keyframes fadeOutSlide {
    0% {
        opacity: 0;
        transform: translateX(100%); /* Start off-screen on the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
  }
  .right-align {
     position: absolute;  /*Or fixed if you want it to stay in place while scrolling */
    right: 0;
    top: 0;
    /* height:35vh;Full height of the parent container */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
    background-color: #ffffff; /* Optional background color */
     z-index: 10;/* Ensure it's above other elements */
    overflow-y: auto;
    overflow-x: hidden;
    /* left: 50%; */
    height: fixed;
  }
  .container {
    width: 98%;
    /* margin-left: 0.5%; */
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    /* overflow:scroll;
    overflow-x: hidden; */
    height: auto;
    margin-left: 1%;
  }
  .container-box {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 20px;
    margin: 1%;
  }
  .floating-label-new {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
  }
  .label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
  }

  .table-wrapper {
    width: 95%;
    margin-left: 2%;
    border-radius: 10px;
    overflow: hidden; /* Important to round off the scroll corner */
    border: 1px solid rgba(0, 41, 70, 0.6);
}

.scrollable-table {
    max-height: 400px;
    overflow-y: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  table {
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin: 1% 0; */
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0;  
  }

 table td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 table th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
 }
 .tr:hover {
  background-color: #D2EDF1;
}
.tr:nth-child(even) {  
  background:#EFF1FF;  
}
.tr:nth-child(odd) {  
  background-color: white;  
}
.menu-container {

  height: 50px;
  background-color:#003466; /* Dark blue background */
  border: 3px solid #ccc; /* Light border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow */
  border-radius: 30px; /* Rounded corners */
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 20px;
  font-weight:bold;
  margin:0 1% 1%;
}
.menu-item {
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
.menu-item1{
  padding: 10px 15px;
  color: black;
  background-color:white;
  cursor: pointer;
  margin-right: 20px;
  border-radius:5px;
}




.toggle-bar {
  background-color: #f0f0f0;
  padding: 10px 20px;
  /* color: white; */

  border-radius: 5px 5px 0px 0px;
  font-size: 16px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.toggle-bar:hover {
  background-color: #022951;
  color: white;
  border-radius: 5px 5px 0px 0px;


}
.hidden-section {
  display: none;
}
.image{
  border-radius: 50%;
  padding: 5px;
  border: 2px solid #a8bcc4;
  width: 45px; /* Ensure width and height are equal */
  height: 45px; /* Ensure width and height are equal */
  object-fit: cover; /* Ensures the image covers the element completely */
  object-position: top;
}
.floating-label-new1 {
  position: relative;
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 3px;
  border: 1px solid black; 
  border-radius: 4px; 
  height: 35px;
  box-sizing: border-box;
}
.label-text-drop1 {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  padding: 0 4px;
  font-size: 12px;
  color: #333;
  font-weight: bold;
  pointer-events: none;
  z-index: 500;
}
.floating-label-new2 {
  position: relative;
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 3px;
  border: 1px solid black; 
  border-radius: 4px; 
  height: 35px;
  box-sizing: border-box;
}
.label-text-drop2 {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  padding: 0 4px;
  font-size: 12px;
  color: #333;
  font-weight: bold;
  pointer-events: none;
  z-index: 500;
}