.search-section {
           /*  display: flex; */
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;
            flex-grow: 1;
        }
        
        
        
        .button-group {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            flex-grow: 0;
            flex-shrink: 1;
        }
        
        .action-section {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-end;
            flex-shrink: 0;
            gap: 10px;
        }
        .header {
            max-width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 1% 1% 1% 1%;
        }
.button-container {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            gap: 1rem; /* Add space between buttons */
            }
 .slds-backdrop {
                height: 110vh;
            }
 .main-container {
position: relative;
    background-color: #ffffff;
   /*  border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
   
    height: 86vh;
    border-radius: 5px;
}
.main-container-orgtimes{
    position: relative;
    background-color: #ffffff;
    /*  border: 1px solid #ccc;
        */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0% 2%;
    height: 62vh;
    border-radius: 5px;
}
.major-cont {
    overflow-y: auto;
    height: 75vh;
}

.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0099DE;
}
 .floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
    width: 92%;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}
.label-text {
    flex: 0 0 20%;
    font-weight: bold;
}
.color-box {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    margin-right: 10px;
    display: inline-block;
    border-radius: 5px;
    margin-top:20px;
}




.custom-edit-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #888888;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 35px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    z-index: 998;
    transition: background-color 0.2s ease;
}

.custom-edit-btn:hover {
    background-color: #777777;
}


 @media (min-resolution: 101dpi) {

    .main-container {

    height: 82vh;
}
.major-cont {

    height: 68vh;
} 
.main-container-orgtimes{
     height: 72vh;
}
.custom-edit-btn{
    bottom: -20px;
}

.right-content {

    height: 72vh;
}

}


/* for 150dpi */

@media (min-resolution: 126dpi) {

  .main-container {
    height: 79vh;
  }
.main-container-orgtimes{
     height: 62vh;
}

  .major-cont {
    height: 62vh;
  }
  .right-content {

    height: 68vh;
}
}