.geeks {
   
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
}

.geeks img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.geeks:hover img {
    transform: scale(1.5);
}
.PayRunClass{
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
    background:#005C90;
    color : white; 
    margin-left: 1px;  
    font-weight:bold;
} 
.payrunClass2{
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
    background:white; color: black;
    margin-left: 1px;
    font-weight:bold;
   /*  margin-top: 10px; */
}