table {
	border-collapse: separate;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 0px 0;
	border-left: 1px solid rgba(0, 41, 70, 0.6);
	border-top: 1px solid rgba(0, 41, 70, 0.6);
	border-bottom: 1px solid rgba(0, 41, 70, 0.6);
	border-radius: 10px;
	overflow: hidden;
	border-spacing: 0;
 }
 
 table td {
	border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 
 table th {
	border-right: 1px solid rgba(0, 41, 70, 0.6);
	background-color: #003466;
	color: white;
	font-family: Light 300;
	font-weight: bold;
 }
 
 .tr1:nth-child(even) {
	background: #EFF1FF;
 }
 
 .tr1:nth-child(odd) {
	background-color: white;
 }
 
 table tr:hover {
	background-color: #D2EDF1;
 }
 
 
 .fixed-table {
	table-layout: fixed; /* Ensures fixed column widths */
	width: 100%; /* Table width fits container */
 }
 
 .fixed-table th, .fixed-table td {
	white-space: nowrap; /* Prevents text wrapping */
	text-overflow: ellipsis; /* Adds "..." for overflow text */
	overflow: hidden; /* Hides overflow text */
	max-width: 150px; /* Set maximum width for each cell */
 }

 .floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}
.wide-combobox {
    width: 300px; /* Adjust width as needed */
    max-width: 100%; /* Ensure it doesn't exceed container width */
}

.container {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }