.geeks {
   
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
}

.geeks img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.geeks:hover img {
    transform: scale(1.5);
}

.--slds-c-badge-color-background{
 background-color: rgb(140, 140, 231);
}

.slds-global-header_container{ 
    display: none;
}

.footer {
    margin-left: 0%;
    margin-right: 10%;
    height: 100px;
    bottom: 0;
    width: 1399px;
}

.AdminButton{
    /*display: flex;
    /*width: 194px;
    height: 171px;
    max-width: 200px;
    max-height: 95px;    
    /*padding: 58px 12px 26px 10px;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
    gap: 15.848px;
    flex-shrink: 0;
    border-radius: 4px;
    border-radius: 4px;
    background: #FFF;    
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

    /*style="max-height: 95px; max-width: 95px;"*/
    display: flex;
    width:190px;
    height: 160px;
    padding: 58px 12px 26px 10px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 15.848px;
    flex-shrink: 0;
    background-color: white;
    margin-left: -10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    /*margin-top:10px;
    margin-right:50px;
    margin-bottom:10px;*/
    border-radius: 15px;
    border: 1px solid lightblue; 
    /* background: radial-gradient(circle, #FFFFFF 30%, #C0EBF1);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    border: 3px solid #002946; */
 }

.PanelBackGroundColour{
    width: 1366px;
    /*height: 768px;*/
    background: #E2EBEF;
}

.orgName{
    color: var(--Basic-Black, white);
    /* H3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    
    margin-left: 20px;
}
.header{
    width: 98%;
    height:60px;
    background:rgb(0, 92, 144);
    margin-left:20px;
    margin-right:100px;
    border-radius:7px;
    margin-bottom:19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact{    
    font-size:16px;
    color:white;
    margin-right:20px;   
}
.homebg {
    background-image:url("{mainPage}");
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    height: 100vh; /* Set height for visibility */
}
.task{
    background: radial-gradient(circle, #FFFFFF 30%, #C0EBF1);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    border: 3px solid #002946;

}