.shift-card{
    display: flex;
    flex-direction: column;
}
.table1 {
    border-collapse:separate;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border: 1px solid #E9E9E9;
    border-radius:10px;
    overflow: hidden;   */
    border-spacing: 0;  
    border-bottom: none;
    width: 100%;
  }
 .table1 td {
    border: 1px solid #E9E9E9;
 }
 .table1 th {
    border: 1px solid #E9E9E9;
 }
 .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 0 1% 0;
}

.bgColor1{
    background: #FFB1B1;
    margin: 5%;
    border-radius: 5px;
 }
 .bgColor2{
    background: white;
    
 }
 .bgColor3{
    background: #c2e1fa;
    margin: 5%;
    border-radius: 5px;
 }
 
  /* .tr1:nth-child(even) {  
    background:#EFF1FF;  
  }
  .tr1:nth-child(odd) {  
    background-color: white;  
  } */
  .table2 tr:hover {
    background-color: #EEF4FF;
  }
  .table2 th{
    background-color:#003466;
    color:white;
    font-family:Light 300;
    /* font-weight:bold; */
  }
  .table2 {
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0;  
  }
  .table2 td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    padding: 8px;
  }
  .table2 th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    background-color:#003466;
    color:white;
    font-family:Light 300;
    /* font-weight:bold; */
    padding: 8px;
  }
  @keyframes fadeOutSlide {
    0% {
        opacity: 0;
        transform: translateX(100%); /* Start off-screen on the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

@keyframes fadeOutSlideReverse {
    0% {
        opacity: 1;
        transform: translateX(0); /* Start at the original position */
    }
    100% {
        opacity: 0;
        transform: translateX(100%); /* Move off-screen to the right */
    }
}

/* .right-align1 {
    position: absolute; 
    right: 0;
    top: 0%;
    height: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
    background-color: #F3F5F7;
    z-index: 1000;
    padding: 1%;
    animation: fadeOutSlide 1s ease-in-out;
    margin-left:5%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
} */
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 999;
}
.action-section {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-end;
            flex-shrink: 0;
            gap: 10px;
                border-bottom: 1px solid #ddd;

}


  .search-section {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;
            flex-grow: 1;
     }
.fade-in {
  opacity: 0;
  transform: translateX(100%); /* Start off-screen on the right */
  animation: fadeOutSlide 1s forwards;
}
.right-align1 {
position: absolute;
right: -2.2%;
top: 0%;
box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
background-color: #F3F5F7;
z-index: 1000;
animation: fadeOutSlide 1s ease-in-out;
padding: 1%;
overflow-y: hidden;
overflow-x: hidden;
height: auto;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
}

@keyframes fadeOutSlide {
0% {
    opacity: 0;
    transform: translateX(100%); /* Start off-screen on the right */
}
100% {
    opacity: 1;
    transform: translateX(0); /* End at the original position */
}
}

.right-content {
    overflow-y: auto;
    height: 75vh;
    padding-right: 1%;
    overflow-x: hidden;
}
.serial-number-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 10px;
  font-size: 12px;
  min-width: 20px;
  text-align: right;
}

.serial-number {
  height: 44px;
  line-height: 45px;
}
.th{
  background-color:#003466;
  color:white;
  /* font-family:Light 300; */
  /* font-weight:bold; */
}
/* .table1 {
  border-collapse:separate;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0px 0;
  border-left: 0.5px solid rgba(0, 41, 70, 0.6);
  border-top: 0.5px solid rgba(0, 41, 70, 0.6);
  border-bottom: 0.5px solid rgba(0, 41, 70, 0.6);
  border-radius:10px;
  overflow: hidden;  
  border-spacing: 0;  
} */
.table1 td {
  border: 0.5px solid #ccc;
  position: relative; /* Ensures z-index works */
  transition: all 0.3s ease-in-out;
}
table1 th {
  border-right: 1px solid rgba(0, 41, 70, 0.6);
  background-color:#003466;
  color:white;
  /* font-family:Light 300; */
  /* font-weight:bold; */
}
/* .tr1:nth-child(even) {  
background:#F1F1F1; 
}
.tr1:nth-child(odd) {  
background-color: #FFFFFF;  
} */
/* Remove the row highlight */
.table1 tr1:hover {
background-color: #EEF4FF;
}

.table1 td:hover {
background-color: #EEF4FF !important; /* Light blue highlight */
transform: scale(1.01); /* Slight zoom effect */
z-index: 6; /* Raise above other elements */
border-radius: 5px; /* Slight rounded corners */
font-weight: bold; /* Makes text pop */

/* Adjusted Animated Glow Effect */
animation: neonGlow 1.5s infinite alternate ease-in-out;
}

.main-container {
    width: 96%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2%;
    height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.custom-create-btn {
    background-color: #0C78BA;
    color: white;
    padding: 0.35rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
}

.custom-create-btn:hover {
    background-color: #095e94;
}

.calendar-part {
  height: 73.5vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0 0 8px 8px;
  border: 0.5px solid #ccc;
}

.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0099DE;
}

.material-avatar-fallback {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #e0e0e0; /* light grey */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.4rem;
    cursor: default;
}

.material-avatar-fallback i {
    color: #757575; /* medium grey for the icon itself */
    font-size: 28px;
    cursor: default;
}
 .material-icons {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: normal;
    color: #666666;
    cursor:pointer;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    font-variation-settings:
        'FILL' 0,
        'wght'200,
        'GRAD' 0,
        'opsz' 40;
    font-size: 24px;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.day-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.day-left {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 4%;
    color: #2c2c2c;
}

.day-name {
    text-transform: uppercase;
    font-size: 14px;
    color: #666;
}

.day-date {
    font-size: 24px;
    color: #000;
    margin-top: 2px;
    font-weight: 400;
}

.holiday-spacer-bottom {
  position: absolute;
  bottom: 2px;
  left: 5%;
  width: 90%;
  min-height: 15px;
  text-align: center;
}

.holiday-label {
    font-size: 10px;
    font-weight: bold;
    color: #130000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 2%;
    margin-right: 1%;
    max-width: 70%;
}

/* for 125dpi */
@media (min-resolution: 101dpi) {

           .main-container {

    height: 82vh;
}

        .right-content {

    max-height: 70vh;
}
.calendar-part {
  height: 67.5vh;
}


}


/* for 150dpi */

@media (min-resolution: 126dpi) {

  .main-container {
    height: 79vh;
  }


      .right-content {

    max-height: 64vh;
}
.calendar-part {
  height: 61.5vh;
}

.table2{
  position: relative;
    transform: scale(0.9);
    left: -5%;
    top: -37px;
}


}