.container {
    width: 100%;
    /* margin-left: 0.5%; */
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    /* overflow:scroll;
    overflow-x: hidden; */
    height: auto;
  }