.container {
    width: 95%;
    /* margin-left: 0.5%; */
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    /* overflow:scroll;
    overflow-x: hidden; */
    height: auto;
    margin-left: 2%;
  }
  
.file-upload-button {
    width: 100%; 
    height: 32px;
    background-color: #FFFFFF; 
    border: 1px solid #9aa1a3;
    border-radius: 4px;
    padding: 0%; 
    font-size: 1rem;
    cursor: pointer;
    text-align: center; 
    box-shadow: none;
    color: #0C78BA; 
    justify-content: center;
}

.file-upload-button:hover {
    background-color: #F4F6F9; 
    border: 1px solid #9aa1a3;
    color: #0078B5; 
}
.tr1:nth-child(even) {  
    /* background:#EFF1FF;   */
      background:#F1F1F1;  
}
.tr1:nth-child(odd) {  
    /* background-color: white;   */
 background-color: #FFFFFF;
}
table tr:hover {
    /* background-color: #D2EDF1; */
  background-color: #EEF4FF;
  }
/* .th{
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
}
table {
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0;  
    width: 99%;
  }

 table td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 table th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 } */
  /* .th{
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
} */
  table th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
 }
table {
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0;  
  }
 table td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 table th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 .small-button .slds-button {
   
    font-size: 0.75rem; /* Smaller font size */
    height: 1.5rem; /* Adjusted height */
    width: 20px /* Adjusted width */
}
.floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}
.floating-label-new {
  position: relative;
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 3px;
  border: 1px solid black; 
  border-radius: 4px; 
  height: 34px;
  box-sizing: border-box;
}
.floating-label-text-area {
  position: relative;
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 3px;
  border: 1px solid black;
  border-radius: 4px;
  height: 62px;
  box-sizing: border-box;
  /* padding: 0 8px; */
}
.floating-label-new1 {
    position: relative;
    display: block;
    font-size: 1rem; /* Use rem instead of px */
    color: #555;
    margin-bottom: 0.2rem; /* Use rem for consistent spacing */
    border: 1px solid black;
    border-radius: 4px;
    height: 35px;;/* Use rem for height */
    box-sizing: border-box;
    padding: 0 0.5rem;  /* Use rem for padding */
    width: 100%; /* Ensure full width inside the parent container */
}

/* .label-text-drop1 {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
} */
 .label-text-drop123 {
    position: absolute;
    top: -0.5rem; /* Adjust for rem scaling */
    left: 0.5rem; /* Adjust for rem scaling */
    background-color: #fff;
    padding: 0 0.2rem; /* Use rem for padding */
    font-size: 0.75rem; /* Use rem for font size */
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}


.dropdown-button {
    width: 100%;
    height: 100%; /* Matches the height of its parent (.floating-label-new1) */
    padding: 0.5rem 0.4rem; /* Same padding as .dropdown-input */
    font-size: 1rem;
    line-height: 1;
    color: #000;
    background-color: white;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
}

.dropdown-button:hover {
    background-color: #f1f1f1;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: rgb(143, 19, 19);
    min-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    margin-top: 5px;
}

/* table {
    width: 106%;
    border-collapse: collapse;
   
    margin-left: -1%;
    position: relative;
    background-color: white;
    z-index: 600;
} */
 table {
    width: 106%;
    border-collapse: collapse;
    /* margin: 0; */
    margin-left: -1%;
    position: relative;
    background-color: white;
    z-index: 600;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

th {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #f0f0f0;
}

tr:active {
    background-color: #ddd;
}

.floating-label-new2 {
    position: relative;
    display: flex;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black;
    border-radius: 4px;
    height: 34px;
    box-sizing: border-box;
    overflow: hidden;
  }

.label-text-drop1 {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  padding: 0 4px;
  font-size: 12px;
  color: #333;
  font-weight: bold;
  pointer-events: none;
  z-index: 500;
}
 .dropdown-input {
  width: 100%;
  padding: 8px 12px;
  border: none;
  outline: none;
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.2;
  background-color: white;
  cursor: text;
}
/* .dropdown-table {
  width: 100%;
  border-collapse: collapse;
}

.dropdown-table th,
.dropdown-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.dropdown-table tr:hover {
  background-color: #f4f4f4;
}

.dropdown-table td {
  cursor: pointer;
} */
 .dropdown-table {
  width: 100%;
  border-collapse: collapse;
}

.dropdown-table th,
.dropdown-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  
}

.dropdown-table tr:hover {
  background-color: #f4f4f4;
}

.dropdown-table td {
  cursor: pointer;
}
.dropdown-table-container1 {
  position: absolute;
  top: 30.6%;
  left: 1%;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  width: 22.8%;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
}





.main-container {
    width: 98%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1%;
    height: 87vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
.menu-container {
    background-color:#003466; 
    display: flex;
    align-items: center;
  font-weight:bold;
  border-radius: 5px 5px 0px 0px;
    
}
.menu-item {
    padding: 14px 15px;
    color: white;
    cursor: pointer;
}
.menu-item1{
    position: relative;
    padding: 14px 15px;
    color: white;
    background-color:#0C78BA;
    cursor: pointer;
}

.button-item {
    display: inline-block;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    color: #00008B;
    text-align: center;
    font-size: 18px;
    padding: 15px 25px;
    text-decoration: none;
    box-shadow: 0 6px #999;
    transition: all 0.3s ease;
    cursor: pointer;
}
.menu-item:hover {
    background-color: #0C78BA;
}
.button-item1:hover {
    background-color: #20B2AA; 
}
.menu-item.active {
    background-color: white;
}

.menu-container .menu-item1:first-child {
    border-top-left-radius: 5px;
}

.menu-container .menu-item:first-child:hover {
    border-top-left-radius: 5px;
}

.menu-item1::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #0C78BA;
}
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0099DE;
}

.fixed-pagination {
    position: sticky;
    bottom: 0;
    padding: 10px 20px;
    z-index: 10;
}
.sub-container{
   height: 74vh;
   overflow-y: auto;
   overflow-x: hidden;
}
.listview {
    height: 44vh;
    overflow-y: auto;  
    overflow-x: hidden;
}
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0099DE;
}
/* for 125dpi */
@media (min-resolution: 101dpi) {

           .main-container {

    height: 84vh;
}
        .listview {
            height: 33vh;
        } 
       .right-content {

    height: 72vh;
}
 .sub-container {
            height: 69vh;
        } 


}


/* for 150dpi */

@media (min-resolution: 126dpi) {

  .main-container {
    height: 81vh;
  }

    .listview {
        height: 22vh;
    } 

    .toggle-label {
        display: none;
    }

      .right-content {

    max-height: 64vh;
}
 .sub-container {
        height: 64vh;
    } 



}