.dashboard-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Full height of viewport */
    padding: 1rem;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 6%; /* ✅ 1% gap between grid cells */
    width: fit-content;
}

.report-card {
    background: rgb(243, 243, 243);;
    border-radius: 8px;
    padding: 0.8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, border 0.3s ease;
    width: 450px; /* ✅ Consistent fixed width */
    min-height: 60px;
}

.report-card:hover {
    border: 2px solid #022951;
    transform: scale(1.05);
    border-radius: 6px;
background: #fbfbfb;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.report-card.selected {
    border-color: #002E6D;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-label {
    font-weight: bold;
    font-size: 0.95rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-icon {
    width: 45px;
    height: 55px;
    margin-left: 10px;
}

.main-container {
    width: 96%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2%;
    height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* for 125dpi */
@media (min-resolution: 101dpi) {

           .main-container {

    height: 82vh;
}
        .listview {
            height: 70vh;
        } 
        .right-content {

    max-height: 70vh;
}


}


/* for 150dpi */

@media (min-resolution: 126dpi) {

  .main-container {
    height: 79vh;
  }

    .listview {
        height: 63vh;
    } 

    .toggle-label {
        display: none;
    }

      .right-content {

    max-height: 64vh;
}


}