.geeks {
   
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
}

.geeks img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.geeks:hover img {
    transform: scale(1.5);
}
.my-icon{
    --sds-c-icon-color-foreground-default:#0176d3;
    z-index: 1
    
}