.accordionClass{
    --slds-c-accordion-heading-font-size:1 rem;    
--slds-c-accordion-summary-color-background:rgba(175, 179, 184, 0.525);
--slds-c-accordion-sizing-border:1px;

}
.lwc-datepicker {
    display: inline-block;
}

.lwc-datepicker .slds-has-error .slds-form-element__help {
    display: none;
}

.rosterlayout{
    width:99%;
height: auto;
top: 143px;
left: 50px;
gap: 0px;
border-radius: 6px 6px 6px 6px;
opacity: 0px;
background: var(--Primary_White, #FFFFFF);
padding: 10px 10px 10px 10px;
margin: 10px 0px 10px;
/* margin-left: 0.5%; */
align-content: center;
overflow: hidden;
}

.description{
    width: 20%; /* Adjust as needed */
    max-width: 200px; /* Example maximum width */
    overflow: hidden;
    text-overflow: ellipsis; /* Optional: Truncate text with ellipsis */
     /* Optional: Prevent wrapping */
}
.description:hover {
    white-space: normal; /* Allow text to wrap and display full content on hover */
    overflow: visible; /* Ensure full content is visible */
    text-align:justify;
}
.tr1:nth-child(even) {  
    background:#EFF1FF;  
}
.tr1:nth-child(odd) {  
    background-color: white;  
}
table tr:hover {
    background-color: #D2EDF1;
  }

  table {
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0;  
  }

 table td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 table th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
 }

 /* .custom-datatable {
    border: 1px solid #ccc;
    border-radius: 5px;
} */
.container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container-box {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 20px;
  }
  .toggle-bar {
    background-color: #f0f0f0;
    padding: 10px 20px;
    /* color: white; */
  
    border-radius: 5px 5px 0px 0px;
    font-size: 16px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .toggle-bar:hover {
    background-color: #022951;
    color: white;
    border-radius: 5px 5px 0px 0px;
  
  
  }
  .hidden-section {
    display: none;
}
.right-align {
    position: absolute; 
    right: 0;
    top: 0%;
    height: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
    background-color: #f5faff;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    animation: fadeOutSlide 1s ease-in-out;
    margin-left:5%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.seperator {
    background-color: white;
    border-radius: 8px;
    margin: 3%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}
.label-text-long {
    flex: 0 0 40%;
    font-weight: bold;
 }
 
 .label-separator {
    flex: 0 0 5%;
    font-weight: bold;
    text-align: center;
 }
 /* .label-field {
    flex: 1 1 75%;
    text-align: left;
    padding-left: 8px;
    margin: 0;
 } */
 .label-field-long {
    flex: 1 1 55%;
    text-align: left;
    padding-left: 8px;
    margin: 0;
 }
 .floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}

.floating-label-role {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 280px;
    box-sizing: border-box;
    padding-left: 2%;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}
@keyframes fadeOutSlide {
    0% {
        opacity: 0;
        transform: translateX(100%); /* Start off-screen on the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

@keyframes fadeOutSlideReverse {
    0% {
        opacity: 1;
        transform: translateX(0); /* Start at the original position */
    }
    100% {
        opacity: 0;
        transform: translateX(100%); /* Move off-screen to the right */
    }
}