/* .slds-modal__container {
    max-width: 70rem !important;
    width: 70% !important;
} */

.lgc-bg {
    background-color: rgb(242 242 242);
}

.lgc-bg-inverse {
    background-color: rgb(22 50 92);
}
.Adminlayout{
    width:99%;
height: auto;
top: 143px;
left: 50px;
gap: 0px;
border-radius: 6px 6px 6px 6px;
opacity: 0px;
background: var(--Primary_White, #FFFFFF);
padding: 10px 10px 10px 10px;
margin: 10px 20px 10px;
margin-left: 0.5%;
align-content: center;
overflow: hidden;
}
.container {
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    max-height: auto;
   
   
}
.email{
    height:fit-content;
    max-width: 180px; 
    overflow: hidden; white-space:nowrap;
     text-overflow:ellipsis;
}
.name{ 
    display: block;
    max-width:220px;
    overflow: hidden; 
    white-space:nowrap;
     text-overflow:ellipsis;
}
.input__toggle{
    transform: scale(0.9);
}
 .tr1:hover {
     background-color: #EEF4FF;
  } 

.table {
   
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0;  
  }
.table_td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
.table_th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
 }
 @keyframes fadeOutSlide {
    0% {
        opacity: 0;
        transform: translateX(100%); /* Start off-screen on the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

@keyframes fadeOutSlideReverse {
    0% {
        opacity: 1;
        transform: translateX(0); /* Start at the original position */
    }
    100% {
        opacity: 0;
        transform: translateX(100%); /* Move off-screen to the right */
    }
}
.fade-in {
    opacity: 0;
    transform: translateX(100%); /* Start off-screen on the right */
    animation: fadeOutSlide 1s forwards;
 }

.right-align {
    position: absolute;  /*Or fixed if you want it to stay in place while scrolling */
   right: 0;
   top:0;
   /* height:35vh;Full height of the parent container */
   box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
   background-color: #F3F5F7; /* Optional background color */
    z-index: 1000;/* Ensure it's above other elements */
   overflow-y: auto;
   overflow-x: hidden;
   /* left: 50%; */
   height: auto;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.right-align-reverse {
    position: absolute; /* Or fixed if you want it to stay in place while scrolling */
    right: 0;
    top: 0;
    height: 100vh; /* Full height of the parent container */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
    background-color: #ffffff; /* Optional background color */
    z-index: 10; /* Ensure it's above other elements */
    overflow-y: auto;
    overflow-x: hidden;
    animation: fadeOutSlideReverse 1s ease-in-out;
}
 .header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 1% 0 1%;
}

.search-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
}



.button-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.action-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 20px;
    }

    .search-section {
        justify-content: left;
    }

    .responsive-input {
        width: 100%;
    }

    .button-group {
        justify-content: left;
    }

    .action-section {
        justify-content:left;
    }
}
.container2{
    background: #f5faff;
    padding-top: 0%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    margin: 0% 1% 1%;
  }

.container-box {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 20px;
  }
  .toggle-bar {
    background-color: #E0E0E0;
    padding: 10px 20px;
    /* color: white; */
  
    border-radius: 5px 5px 0px 0px;
    font-size: 16px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .toggle-bar:hover {
    background-color: #022951;
    color: white;
    border-radius: 5px 5px 0px 0px;
  
  
  }
  .floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}
.tr1:nth-child(even) {  
    background:#F1F1F1;  
}
.tr1:nth-child(odd) {  
    background-color: #FFFFFF;  
}
.file-upload-button {
    width: 100%; 
    height: 32px;
    background-color: #FFFFFF; 
    border: 1px solid #9aa1a3;
    border-radius: 4px;
    padding: 1%; 
    font-size: 1rem;
    cursor: pointer;
    text-align: center; 
    box-shadow: none;
    box-sizing: border-box;
    color: #0C78BA; 
    justify-content: center;
}

.file-upload-button:hover {
    background-color: #F4F6F9; 
    border: 1px solid #9aa1a3;
    color: #0078B5; 
}
.floating-label-role {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 280px;
    box-sizing: border-box;
    padding: 2%;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}
.hidden-section {
    display: none;
}
.material-icons {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: normal;
    color: #666666;
    cursor:pointer;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    font-variation-settings:
        'FILL' 0,
        'wght'200,
        'GRAD' 0,
        'opsz' 40;
    font-size: 24px;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


.edit-icon:hover {
    color: #3175DA;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 40;
}


.delete-icon:hover {
    color: #b71c1c;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 40;
}


.view-icon:hover {
    color: #2d2c2c;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 40;
}


.rule-icon:hover {
    color: #002A52;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 40;
}