.modal-custom {
  max-width: 60%; 
  min-width: 50%;
  max-height: 100vh;
} 
.modal-custom .slds-modal__content {
  max-height: 75vh;
  /* overflow-y: auto; */
}
.headercustom { 
    background: #002a52; 
} 

.h2custom{ 

  color: white;  

  font-weight: bold;  

  text-align: center 

} 
.floating-label-new {
  position: relative;
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 3px;
  /* border: 1px solid black;  */
  border-radius: 4px; 
  height: 34px;
  box-sizing: border-box;
}

.floating-label-long-text-area {
  position: relative;
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 3px;
  /* border: 1px solid black; */
  border-radius: 4px;
  height: 62px;
  box-sizing: border-box;
  /* width: 60%; */
  /* padding: 0 8px; */
}
.label-text-drop {
  position: absolute;
  top: -10px;
  left: 15px;
  background-color: #fff;
  padding: 0 4px;
  font-size: 12px;
  color: #333;
  /* font-weight: bold; */
  pointer-events: none;
  z-index: 500;
}
.label-text-drop1 {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  padding: 0 4px;
  font-size: 12px;
  color: #333;
  /* font-weight: bold; */
  pointer-events: none;
  z-index: 500;
}
.kpi-description {
    /* min-height: 130px; */
    height: 100%;
}

.kpi-description lightning-textarea {
    height: 100%;
}
.material-icons {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #666666;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" 0,
    "opsz" 40;
  font-size: 22px;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.delete-icon:hover {
  cursor: pointer;
    color: #b71c1c;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 40;
}
.edit-icon:hover {
  cursor: pointer;
    color: #3175DA;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 40;
}
.ndis-table-container {
  /* padding: 1% 0% 1% 0%;
  background-color: white;
  border-radius: 8px;
  overflow-x: auto; */

   padding: 1% 0;
  background-color: white;
  border-radius: 8px;
  overflow-x: auto;
  overflow-y: auto;
  /* max-height: 40vh;  */
}

/* Table shell */
.ndis-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 41, 70, 0.6);
  border-radius: 8px;
  overflow: hidden;
}

/* Header */
.ndis-table th.table-td-service {
  background-color: #003466;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: bold;
  border-right: 1px solid rgba(0, 41, 70, 0.6);
  padding: 0.50rem;
  text-align: left;

}

/* Body cells */
.ndis-table td.table-td-service {
  font-size: 0.75rem;
  /* padding-left: 15px; */
  padding: 0.50rem;
  border-right: 1px solid rgba(0, 41, 70, 0.6);
  vertical-align: middle;
}

/* Zebra rows */
.ndis-tr:nth-child(even) {
  background-color: #f1f1f1;
}

.ndis-tr:nth-child(odd) {
  background-color: #ffffff;
}

/* Center helper */
.ndis-center {
  text-align: center;
}
.light-goal-type{
    background-color:#FFF4E5;   /* very light orange */
    color:#f1ab56;
    border:1px solid #FFE0B2;
}

.light-goal-priority{
    background-color:#E8F8F0;   /* very light green */
    color:#88be8c;
    border:1px solid #C8E6C9;
}
.metric-label {
    color: #6b7280;
    margin-right: 4px;
}

.metric-value {
    font-weight: 600;
}