.ledger-table {
    width: 100%;
    border-collapse:separate;
    
    background-color: #fff;
    
 /* Optional: Rounded corners for a modern look */
     /* Ensures the content respects rounded corners */
  }
  .table-div{
    /* border: 1px solid #ddd; */
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow added */
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;

  }
  
  .ledger-table th,
  .ledger-table td {
    padding: 12px;
   
    text-align: left;
             /*  padding: 10px; */
              text-align: center;
              
  }
  
  .ledger-table th {
    background-color:#003466;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color:white;
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    
  }
  
  .ledger-table td {
    font-size: 14px;
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
  }
  .tr1:nth-child(even) {  
    background:#EFF1FF;  
}
.tr1:nth-child(odd) {  
    background-color: white;  
}
table tr:hover {
  background-color: #D2EDF1;
}
.total-div{
  /* border: 1px solid #ddd; */
  border-left: 1px solid rgba(0, 41, 70, 0.6);
  border-bottom: 1px solid rgba(0, 41, 70, 0.6);
  border-right: 1px solid rgba(0, 41, 70, 0.6);
  padding-top: 10px;
  overflow: hidden;
}
.floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}

.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}