.btnIconOverlay {
    position: absolute;
    z-index: 1;
    margin: 0.5% 0 0 4.5%;
   
}
.slds-form-element__static a {
    pointer-events: none;
    text-decoration: none;
    color: inherit;
}

.btnIconOverlayemail {
    position: absolute;
    z-index: 1;
    margin: 0.5% 0 0 3.6%;
}
.slds-modal__container {
    max-width: 70rem !important;
    width: 70% !important;
}
.Adminlayout{
    width:99%;
height: auto;
top: 143px;
left: 50px;
gap: 0px;
border-radius: 6px 6px 6px 6px;
opacity: 0px;
background: var(--Primary_White, #FFFFFF);
padding: 10px 10px 10px 10px;
margin: 0px 20px 10px;
margin-left: 0.5%;
align-content: center;

}

.slds-text-title_bold {
    font-weight: bold;
}
.slds-form-element__label {
    font-weight: bold;
}







body {
    
    margin: 0;
    padding: 0 30px 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}
.container {
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    max-height: auto;
    
    
}
.container h2 {
    text-align: left;
    margin-bottom: 20px;
}
/* .grid {
    display: grid;
    align-items: top;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    margin-left:5%;
    
} */


@keyframes slideInRight {
    0% {
        transform: translateX(1000px); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(0); /* Move to the original position */
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0); /* Start at the original position */
    }
    100% {
        transform: translateX(1000px); /* Move off-screen to the right */
    }
}

.grid {
    display: grid;
    align-items: top;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    position: absolute;
    right: 0;
    top: 8.5%;
    height: 60;
    width: 800px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    border-color: #000000;
    animation-duration: 0.5s; /* Smooth animation */
    animation-timing-function: ease-in-out; /* Smooth start and end */
    animation-fill-mode: forwards; /* Keep the end state */
    visibility: hidden; /* Start as hidden */
}

.grid.slide-in {
    animation-name: slideInRight;
    visibility: visible; /* Ensure it becomes visible when sliding in */
}

.grid.slide-out {
    animation-name: slideOutRight;
}


.grid h5 {
    text-align: top;
    margin-bottom: 20px;
}

.grid-item {
    display: flex;
    align-items: center;
    padding: 10px 30px 30px 30px;
    border-right-style:solid;
    border-color:#a8bcc4;
   
}
.grid-item img {
    border-radius: 50%;
    padding: 5px;
    border: 2px solid #a8bcc4;
    width: 100px; /* Ensure width and height are equal */
    height: 100px; /* Ensure width and height are equal */
    object-fit: cover; /* Ensures the image covers the element completely */
    object-position: top;
}
.image{
    border-radius: 50%;
    padding: 5px;
    border: 2px solid #a8bcc4;
    width: 45px; /* Ensure width and height are equal */
    height: 45px; /* Ensure width and height are equal */
    object-fit: cover; /* Ensures the image covers the element completely */
    object-position: top;
}
.grid-item .text-container {
    margin-left: 20px;
}
.grid-item h3 {
    margin: 0;
    line-height: 1.2;
}
.grid-item .designation {
    font-size: 0.9em;
    color: #666;
}
.grid-item2 {
    display: flex;
    flex-direction: column;
     align-items: top;
    padding: 40px 0 0 0;
    border-color:#a8bcc4;
  
}

 .grid-item3 {
    display: flex;
    align-items: top;
    flex-direction1: column;
    padding: 40px 0 0 0;
      
}

 .grid-item4 {
    display: flex;
  align-items: center;
    flex-direction1: column;
    
}
 .grid-item4 img {
    border-radius: 50%;
    padding: 5px;
    flex-direction: column;
    border: 2px solid #ddd;
    max-width: 100%;
    height: auto;
}

.grid-item4 h5 {
    margin: 0;
    line-height: 1.2;
}

.status-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}
.button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    float: right;
}
.status-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
.assignments {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.assignments h5 {
    margin: 0;
}
.menu-container {

    height: 50px;
    background-color:#003466; /* Dark blue background */
    border: 3px solid #ccc; /* Light border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow */
    border-radius: 30px; /* Rounded corners */
    display: flex;
    align-items: center;
    padding-left: 30px;
    
    font-weight:bold;
    margin: 0 1% 1%;
    
}
.menu-item {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
.menu-item1{
    padding: 10px 15px;
    color: black;
    background-color:white;
    cursor: pointer;
    margin-right: 20px;
    border-radius:5px;
}
.button-item {
    display: inline-block;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    color: #00008B;
    text-align: center;
    font-size: 18px;
    padding: 15px 25px;
    text-decoration: none;
    box-shadow: 0 6px #999;
    transition: all 0.3s ease;
    cursor: pointer;
}
.menu-item:hover {
    background-color: #1E90FF; /* Change background on hover */
}
.button-item1:hover {
    background-color: #20B2AA; /* Change background on hover */
}
.menu-item.active {
    background-color: white; /* Background when clicked */
}
.job-details-container {
    width: 100%;
    
    background-color: white;
    
}
.job-details-container h3 {
    margin-bottom: 20px;
}

.job-detail table {
    text-align: left;
    width: 100%;

}

.job-details-container th, .job-details-container td {
    padding: 10px;
    text-align: left;
}

.customRadioCls .slds-form-element__control .slds-radio
{
    display: inline-block !important;
}
.color-box {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    margin-right: 10px;
    display: inline-block;
    border-radius: 5px;
    margin-top:20px;
}
.tr1:nth-child(even) {  
    background:#EFF1FF;  
}
.tr1:nth-child(odd) {  
    background-color: white;  
}
table tr:hover {
    background-color: #D2EDF1;
  }

  table {
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0;  
  }

 table td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 table th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
 }
 


 @keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateX(100%); /* Start off-screen on the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

@keyframes fadeOutSlide {
    0% {
        opacity: 1;
        transform: translateX(0); /* Start at the original position */
    }
    100% {
        opacity: 0;
        transform: translateX(100%); /* Move off-screen to the right */
    }
}

.right-align {
    
    animation: fadeInSlide 0.5s ease-in-out; /* Use fadeInSlide for the incoming animation */
}

.fade-out {
    animation: fadeOutSlide 0.5s ease-in-out; /* Use fadeOutSlide for the outgoing animation */
}
.container-box {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 2% 1%;
  }
  .toggle-bar {
    background-color: #f0f0f0;
    padding: 10px 20px;
    /* color: white; */
  
    border-radius: 5px 5px 0px 0px;
    font-size: 16px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .toggle-bar:hover {
    background-color: #022951;
    color: white;
    border-radius: 5px 5px 0px 0px;
  
  
  }
  .floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
    width: 92%;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}
.label-text {
    flex: 0 0 20%;
    font-weight: bold;
}

.label-text-long {
    flex: 0 0 40%;
    font-weight: bold;
}

.label-separator {
    flex: 0 0 5%;
    font-weight: bold;
    text-align: center;
}

.label-field {
    flex: 1 1 75%;
    text-align: left;
    padding-left: 8px;
    margin: 0;
}

.label-field-long {
    flex: 1 1 55%;
    text-align: left;
    padding-left: 8px;
    margin: 0;
}
.label-container {
    display: flex;
    align-items: flex-start; /* Align items to the left */
}

.file-upload-button {
    width: 100%; 
    height: 32px;
    background-color: #FFFFFF; 
    border: 1px solid #9aa1a3;
    border-radius: 4px;
    padding: 1%; 
    font-size: 1rem;
    cursor: pointer;
    text-align: center; 
    box-shadow: none;
    box-sizing: border-box;
    color: #0C78BA; 
    justify-content: center;
}

.file-upload-button:hover {
    background-color: #F4F6F9; 
    border: 1px solid #9aa1a3;
    color: #0078B5; 
}

.info-icon {
    transition: background-color 0.1.5s ease-in-out, transform 0.1.5s ease-in-out;
}

.info-icon.hover {
    animation: fadeIn 0.1.5s ease-in-out;
    background-color: #022951; 
    color: #FFFFFF; 
}
@keyframes fadeOutSlide {
    0% {
        opacity: 0;
        transform: translateX(100%); /* Start off-screen on the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

@keyframes fadeOutSlideReverse {
    0% {
        opacity: 1;
        transform: translateX(0); /* Start at the original position */
    }
    100% {
        opacity: 0;
        transform: translateX(100%); /* Move off-screen to the right */
    }
}

.right-align1 {
    position: absolute; 
    right: 0;
    top: 0%;
    height: auto; /* Full height of the parent container */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
    background-color: #f5faff;
    z-index: 1000;
    padding: 1%;
    animation: fadeOutSlide 1s ease-in-out;
    margin-left:5%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 999;
}
.seperator {
    background-color: white;
    border-radius: 8px;
    margin: 2%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}
.hidden-section {
        display: none;
    }
.modal-header {
        background: #124795;
        border-radius: 15px 15px 0 0;
        text-align: center;
        padding: 1rem; 
    }
.modal-title {
        color: white;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        }
        
        /* Center the buttons */
.button-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
}
.modal-content{
    justify-content: center;
}
.slds-modal__container{
    max-width: 70rem !important;
    width: 45% !important;
}