@import 'c/tesseractAppsSharedStyles';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.label-text-drop {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}

.floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}
/* Upload Button Container */
.upload-button-container {
    display: flex;
    flex-direction: column; 
    border: 2px dashed #d1d5db; /* Light gray dashed border */
    border-radius: 10px; /* Rounded corners */
    padding: 40px; /* Increase padding for more height */
    height: 30%;
    text-align: center; /* Center align content */
    justify-content: center;
    background-color: #f9fafb; /* Subtle background color */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    width: 80%; /* Width of the container */
    margin: 20px auto; /* Center the container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    position: relative;
}

/* Hover Effect for Upload Button */
.upload-button-container:hover {
    border-color: #2563eb; /* Blue border on hover */
    background-color: #ebf2ff; /* Light blue background on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Slightly stronger shadow */
}


/* Label Styling */
.upload-label {
    cursor: pointer; /* Pointer cursor for clickable label */
    display: inline-block; /* Inline block to align content */
    color: #6b7280; /* Neutral gray text */
    font-size: 16px; /* Text size */
    transition: color 0.3s ease; /* Smooth text color transition */
}

.upload-label:hover {
    color: #2563eb; /* Blue text on hover */
}

/* SVG Icon Styling */
.icon {
    margin-bottom: 10px; /* Space below icon */
    fill: none; /* No fill */
    stroke: #6b7280; /* Neutral gray stroke */
    transition: stroke 0.3s ease; /* Smooth stroke color transition */
}

.upload-button-container:hover .icon {
    stroke: #2563eb; /* Blue stroke on hover */
}

/* Text Below Icon */
.upload-label p {
    margin-top: 8px; /* Space above text */
    color: inherit; /* Inherit color from label */
    font-size: 14px; /* Text size */
}

/* Hidden File Input */
.file-input {
    display: none; /* Hide the file input */
}

/* Responsive Design */
@media (max-width: 768px) {
    .upload-button-container {
        padding: 15px; /* Adjust padding for smaller screens */
        width: 90%; /* Adjust width for smaller screens */
    }

    .icon {
        width: 36px; /* Smaller icon */
        height: 36px;
    }

    .upload-label p {
        font-size: 12px; /* Smaller text */
    }
}


/* Hide the actual file input */
.file-input {
    display: none;
}


.container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 26px;
 }

 table {
    border-collapse: separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius: 10px;
    overflow: hidden;
    border-spacing: 0;
 }
 
 table td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 
 table th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    background-color: #003466;
    color: white;
    font-family: Light 300;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 10;
 }
 
 .tr1:nth-child(even) {
   background:#F1F1F1;
 }
 
 .tr1:nth-child(odd) {
    background-color: #FFFFFF;
 }
 
 table tr:hover {
    background-color: #EEF4FF;
 }
 
 
 .fixed-table {
    table-layout: fixed; /* Ensures fixed column widths */
    width: 100%; /* Table width fits container */
 }
 
 .fixed-table th, .fixed-table td {
    white-space: nowrap; /* Prevents text wrapping */
    text-overflow: ellipsis; /* Adds "..." for overflow text */
    overflow: hidden; /* Hides overflow text */
    max-width: 150px; /* Set maximum width for each cell */
 }


 
.main-container {
    /* width: 98%; */
    background-color: white;
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* margin: 1%; */
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.custom-create-btn {
    background-color: #0C78BA;
    color: white;
    padding: 0.35rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
}

.custom-create-btn:hover {
    background-color: #095e94;
}



.right-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding-right: 1%;
}


.ellipsis-text {
    display: inline-block;
    max-width: 330px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

/* @media (min-resolution: 101dpi) {

           .main-container {

    height: 84vh;
}
        .listview {
            height: 50vh;
        } 
        .right-content {

    max-height: 64vh;
}


}



@media (min-resolution: 126dpi) {

  .main-container {
    height: 84vh;
  }

    .listview {
        height: 39vh;
    } 

    .toggle-label {
        display: none;
    }

      .right-content {

    max-height: 64vh;
}
} */


 .header {
    align-items: center;
    /* border-bottom: 1px solid #ddd; */
    display: flex;
    justify-content: flex-end;
}

.header1 {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    /* border-bottom: 1px solid #ddd; */
    width: 100%;
}
.content-wrapper {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
}

.fixed-pagination {
    position: sticky;
    bottom: 0;
    padding: 16px 20px;
    z-index: 10;
}

.menu-container {
    background-color:#003466; 
    display: flex;
    align-items: center;
  font-weight:bold;
  border-radius: 5px 5px 0px 0px;
    
}

.menu-item {
    padding: 14px 15px;
    color: white;
    cursor: pointer;
}
.menu-item1{
    position: relative;
    padding: 14px 15px;
    color: white;
    background-color:#0C78BA;
    cursor: pointer;
}

.button-item {
    display: inline-block;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    color: #00008B;
    text-align: center;
    font-size: 18px;
    padding: 15px 25px;
    text-decoration: none;
    box-shadow: 0 6px #999;
    transition: all 0.3s ease;
    cursor: pointer;
}
.menu-item:hover {
    background-color: #0C78BA;
}
.button-item1:hover {
    background-color: #20B2AA; 
}
.menu-item.active {
    background-color: white;
}

.menu-container .menu-item1:first-child {
    border-top-left-radius: 5px;
}

.menu-container .menu-item:first-child:hover {
    border-top-left-radius: 5px;
}

.menu-item1::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #0C78BA;
}

.button-group-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 998;
}


.custom-back-btn {
    background-color: #888888;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    transition: background-color 0.2s ease;
}
.custom-edit-btn{
    background-color: #0C78BA;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    transition: background-color 0.2s ease;
}

.custom-edit-btn:hover,
.custom-back-btn:hover {
    background-color: #777777;
}

 .floating-label1 {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}

.dropdown-container {
    position: relative;
    width: 100%;
    max-width: 24rem;
}

.dropdown-button1 {
    width: 100%;
    padding: 0.29rem 1rem;
    text-align: left;
    background: white;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: border-color 0.2s ease-in-out;
    height: 32px;
}

.dropdown-button1:hover {
    border-color: #9ca3af;
}

.dropdown-button1:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

.selected-text {
    color: #111827;
}

.placeholder-text {
    color: #6b7280;
}

.chevron-icon {
    color: #9ca3af;
}

.dropdown-menu {
    position: absolute;
    z-index: 999;
    width: 100%;
    margin-top: 0.25rem;
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.options-list {
    padding: 0.5rem 0;
    max-height: 15rem;
    overflow-y: auto;
}

.option-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.50rem;
    transition: background-color 0.15s ease-in-out;
}

.option-item:hover {
    background-color: #f9fafb;
}

.option-button {
    flex: 1;
    text-align: left;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: color 0.15s ease-in-out;
    white-space: nowrap;
}

.option-button-active {
    color: #111827;
    width: 10%;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;

}

.option-button-active:hover {
    color: #3b82f6;
}

.option-button-inactive {
    color: #9ca3af;
    cursor: not-allowed;
    width: 10%;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;

}

.option-controls {
    display: flex;
    align-items: center;
    gap: 1%;
}

.status-badge1 {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    border-radius: 9999px;
}

.status-badge-active1 {
    background-color: #dcfce7;
    color: #166534;
}

.status-badge-inactive1 {
    background-color: #fee2e2;
    color: #991b1b;
}


/* footer pinned to bottom */
.footer-fixed {
  background: #fff;
  padding: 10px 1rem;
  z-index: 100;
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #e5e7eb;
}

.actions-row {
  display: flex;
  justify-content: center;
  /* margin-bottom: 0.5rem; */
  flex-direction: column;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

c-tesseract-apps-user-access-lwc,
c-tesseract-apps-staff-management-lwc,
c-tesseract-apps-staff-reports-lwc {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
}


/* @media (min-resolution: 101dpi) {

           .main-container {

    height: 84vh;
}
.major-cont {

    height: 68vh;
}

.content-wrapper {
    height: 70vh;
}

}



@media (min-resolution: 126dpi) {

  .main-container {
    height: 81vh;
  }

  .major-cont {
    height: 62vh;
  }
}

@media (min-resolution: 192dpi) {
    .main-container {
        height: 89vh;
    }

} */