.main-container {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1%;
    height: 87vh;
    border-radius: 5px;
}
.menu-container {
    background-color:#003466; 
    display: flex;
    align-items: center;
    font-weight:bold;
    border-radius: 5px 5px 0px 0px;
    
}
.menu-item {
    padding: 14px 15px;
    color: white;
    cursor: pointer;
}
.menu-item1{
    position: relative;
    padding: 14px 15px;
    color: white;
    background-color:#0C78BA;
    cursor: pointer;
}
.menu-item1::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #0C78BA;
}
.coaching {
    overflow-y: auto;
    height: 81.7vh;
    /* padding: 1%; */
    overflow-x: hidden;
}
.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.custom-scroll::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0099de;
}

.coaching-badge {
    background-color: #ffe5cc;
    color: #ff8c00;
}

/* Review Cycle (Purple) */
.badge-rc {
    background-color:#F9EDFF;
    color: #9A12D9;
}

/* SUCCESS (Submitted, HR Acknowledged, Manager Finalized) */
.badge-success {
    background-color: #E6F4EA;   /* light green */
    color: #1E7E34;              /* dark green text */
    border: 1px solid #C3E6CB;
}

/* WARNING (Manager Acknowledged, Employee Acknowledged) */
.badge-warning {
    background-color: #FFF4E5;   /* light orange */
    color: #B26A00;              /* dark orange text */
    border: 1px solid #FFE0B2;
}

/* .badge-submitted {
    background-color: #E3F2FD;
    color: #1565C0;
    border: 1px solid #BBDEFB;
} */
 .badge-submitted {
    background-color: #E8F1FF;
    color: #005FB2;
    /* border: 1px solid #BBDEFB; */
}

/* HR Acknowledged → light purple */
/* .badge-hr {
    background-color: #F3E5F5;
    color: #6A1B9A;
    border: 1px solid #E1BEE7;
} */
 .badge-hr {
    background-color: #DCF8FF;
    color: #00B5D9;
    
}

/* Manager Finalized → light green */
/* .badge-finalized {
    background-color: #E8F5E9;
    color: #2E7D32;
    border: 1px solid #C8E6C9;
} */
 .badge-finalized {
    background-color: #D0EDFF;
    color: #0C78BA;
    
}

/* Manager Acknowledged → light orange */
/* .badge-manager {
    background-color: #FFF3E0;
    color: #EF6C00;
    border: 1px solid #FFE0B2;
} */
 .badge-manager {
    background-color: #E1F1DE;
    color: #0D805C;
}

/* Employee Acknowledged → light teal */
/* .badge-employee {
    background-color: #E0F2F1;
    color: #00695C;
    border: 1px solid #B2DFDB;
} */
 .badge-employee {
    background-color: #E8F1FF;
    color: #3175DA;
}

/* Pending → light yellow */
/* .badge-pending {
    background-color: #FFFDE7;
    color: #9E9D24;
    border: 1px solid #FFF9C4;
} */
 .badge-pending {
    background-color: #FFF4DF;
    color: #E89800;
}

/*  Responsive tweak */
@media (max-width: 768px) {
    .slds-col {
        flex: 1 1 100%;
        margin-bottom: 10px;
    }
}

/* for 125dpi */
@media (min-resolution: 101dpi) and (max-resolution: 125dpi) {
    .main-container {
        height: 84vh;
    }
    .coaching {
        height: 77.7vh;
    }
  
}

/* for 150dpi */

@media (min-resolution: 126dpi) and (max-resolution: 150dpi) {  
    .main-container {
        height: 81vh;
    }
    .coaching {
        height: 72.7vh;
    }

}