.container {
	margin: 30px auto;
	background: #f5faff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	height: 40%;
  }
  
  .container-box {
    border-radius: 6PX;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .container-box:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }


  .container1 {
    margin: 30px auto;
    background: #f5faff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 410px;
    }


  .container-box1 {
    border-radius: 6PX;
    width: 100%;
    height: 450px;
    transition: all 0.3s ease-in-out;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .container-box1:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  .container2 {
    margin: 30px auto;
    background: #f5faff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 339px;
    }


  .container-box2 {
    border-radius: 6PX;
    width: 100%;
    height: 325px;
    transition: all 0.3s ease-in-out;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .container-box2:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }