/* SEARCH */
.search-container {
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* DROPDOWN */
.dropdown {
    max-height: 240px;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 100%;
    /* left: 0; */
    z-index: 10000;
    background: white;
}

/* LIST ITEM */
.slds-listbox__item {
    cursor: pointer;
}

.slds-listbox__item:hover {
    background: #f4f6f9;
}

/* FOCUS */
.slds-has-focus {
    background: #eef4ff;
}

/* ✅ SELECTED ITEM (MAIN CHANGE) */
.selected-item {
    background-color: #e3f2fd;
    font-weight: 600;
}

.selected-item:hover {
    background-color: #d0e7ff;
}

/* SCROLL */
.custom-scroll::-webkit-scrollbar {
    width: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #0099de;
    border-radius: 10px;
}

/* NO RESULTS */
.no-results {
    color: #999;
    padding: 10px;
    text-align: center;
    cursor: default;
}

/* FULL WIDTH */
.slds-dropdown_fluid {
    min-width: 100% !important;
}