/* .menu-container {
    background-color:#003466; 
    display: flex;
    align-items: center;
  font-weight:bold;
    
}
.menu-item {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
.menu-item1{
    position: relative;
    padding: 11.5px 15px;
    color: white;
    background-color:#0C78BA;
    cursor: pointer;
    margin-right: 20px;
}

.button-item {
    display: inline-block;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    color: #00008B;
    text-align: center;
    font-size: 18px;
    padding: 15px 25px;
    text-decoration: none;
    box-shadow: 0 6px #999;
    transition: all 0.3s ease;
    cursor: pointer;
}
.menu-item:hover {
    background-color: #0C78BA;
}
.button-item1:hover {
    background-color: #20B2AA; 
}
.menu-item.active {
    background-color: white;
}

.menu-item1::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #0C78BA;
}
    .main-container {

    background-color: rgb(249 250 251);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin: 0% 2%;
    height: 85vh;
}
*/



/*Next Design Purpose*/




.menu-container {

    height: 50px;
    background-color:#003466; /* Dark blue background */
    border: 3px solid #ccc; /* Light border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow */
    border-radius: 30px; /* Rounded corners */
    display: flex;
    align-items: center;
    padding-left: 30px;
    
    font-weight:bold;
    margin: 0 1% 1%;
    
}
.menu-item {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
.menu-item1{
    padding: 10px 15px;
    color: black;
    background-color:white;
    cursor: pointer;
    margin-right: 20px;
    border-radius:5px;
}
.button-item {
    display: inline-block;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    color: #00008B;
    text-align: center;
    font-size: 18px;
    padding: 15px 25px;
    text-decoration: none;
    box-shadow: 0 6px #999;
    transition: all 0.3s ease;
    cursor: pointer;
}
.menu-item:hover {
    background-color: #1E90FF; /* Change background on hover */
}
.button-item1:hover {
    background-color: #20B2AA; /* Change background on hover */
}
.menu-item.active {
    background-color: white; /* Background when clicked */
}