.container {
   position: relative;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   background-color: white;
   border: 1px solid #ddd;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}
table {
   border-collapse:separate;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-left: 1%;
   width: 98%;
   border-left: 1px solid rgba(0, 41, 70, 0.6);
   border-top: 1px solid rgba(0, 41, 70, 0.6);
   border-bottom: 1px solid rgba(0, 41, 70, 0.6);
   border-radius:10px;
   overflow: hidden;  
   border-spacing: 0; 
   }
 
  table td {
     border-right: 1px solid rgba(0, 41, 70, 0.6);
  }
  table th {
     border-right: 1px solid rgba(0, 41, 70, 0.6);
     background-color:#003466;
     color:white;
     font-family:Light 300;
     font-weight:bold;
     text-align: left;
  }

  /* .tr:hover {
   background-color: #D2EDF1;
 }
 .tr:nth-child(even) {  
   background:#EFF1FF;  
}
.tr:nth-child(odd) {  
   background-color: white;  
} */
 .tr1:nth-child(even) {  
    background:#F1F1F1;  
}
.tr1:nth-child(odd) {  
    background-color: #FFFFFF; 
}
.tr1:hover {
    background-color: #EEF4FF;
 }

 .no-data {
    text-align: center;
    padding: 3rem 1rem;
    color: #6B7280;
}

.no-data p {
    font-size: 22px;
    margin: 0;
}
  @keyframes fadeOutSlide {
   0% {
       opacity: 0;
       transform: translateX(100%); /* Start off-screen on the right */
   }
   100% {
       opacity: 1;
       transform: translateX(0); /* End at the original position */
   }
}

@keyframes fadeOutSlideReverse {
   0% {
       opacity: 1;
       transform: translateX(0); /* Start at the original position */
   }
   100% {
       opacity: 0;
       transform: translateX(100%); /* Move off-screen to the right */
   }
}
.right-align {
   position: absolute; /* Or fixed if you want it to stay in place while scrolling */
   right: 0;
   top:0%;
   box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
   /* background-color: #ffffff;  */
   background-color: #F3F5F7;
   z-index: 1000; /* Ensure it's above other elements */
   overflow-y: auto;
   overflow-x: hidden;
   animation: fadeOutSlide 1s ease-in-out;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
}
.blur-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
   backdrop-filter: blur(5px);
   z-index: 999;
}
.container-table-new {
   width: 100%;
   
   background-color: white;
   
   
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
   position: relative;
   /* overflow:scroll;
   overflow-x: hidden; */
   height: auto;  
   
}
 
 .floating-label-new {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
 }
 
 .floating-label-textarea {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 62px;
    box-sizing: border-box;
 }
 .label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
 }
 .container-box {
   border-radius: 5px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   background-color: white;
   margin-bottom: 20px;
 }

 .main-container {
    width: 98%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1%;
    height: 87vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1 1 auto;
    height: 74vh;
}

.fixed-pagination {
    position: sticky;
    bottom: 0;
    padding: 10px 20px;
    z-index: 10;
}

.table-container {
	    height: 76vh;
    overflow-y: auto;  
}

.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0099DE;
}

.custom-create-btn {
    background-color: #0C78BA;
    color: white;
    padding: 0.35rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
}

.custom-create-btn:hover {
    background-color: #095e94;
}

 .header {
   display: flex;
   align-items: center;
  justify-content: flex-end;
  padding-bottom: 1%;
}



/* for 125dpi */
@media (min-resolution: 101dpi) {

           .main-container {

    height: 84vh;
}
        .table-container {
            height: 71vh;
        } 
 .content-wrapper {
    flex: 1 1 auto;
    height: 68vh;
}


}


/* for 150dpi */

@media (min-resolution: 126dpi) {

  .main-container {
    height: 81vh;
  }

    .table-container {
        height: 65vh;
    } 

    .content-wrapper {
    flex: 1 1 auto;
    height: 61.5vh;
}


}