/* .chart-container {
    height: 160PX;  
    width: 350px;  


}

.chart {
    display: block;
    max-width: 100%;
    max-height: 100%;
} */

/* .container-box {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 15px;
    width: 350px;  
    transition: all 0.3s ease-in-out;
}
.container-box:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  .container-box1 {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 15px; 
    width: 300px; 
    transition: all 0.3s ease-in-out;
} */


/* .chart-wrapper {
    background-color: white;
    border-radius: 5%;
}

.chart-title {
    font-size: 100%;
    font-weight: bold;
}

.chart-container1 {
    height: 140PX;
    width: 300px;
} */

/* .chart {
    width: 100% !important;
    height: auto !important;
} */


/* .container-box1:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  } */


  :host {
    display: block;
    height: 100%;
}
canvas {
    height: 100% !important;
    width: 100% !important;
}