/* .container {
	margin: 30px auto;
	background: #f5faff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	height: auto;
  }
.container-box {
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: white;
	margin-bottom: 20px;
	transition: all 0.3s ease-in-out;
  }

  .container-box:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  } */

.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px 0 20px;
}

.title-link {
    font-size: 100%;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.week-selector {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 0.95rem;
}

.arrow-button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.week-label {
    font-weight: bold;
	cursor: pointer;
}

:host {
    display: block;
    height: 100%;
}
canvas {
    height: 100% !important;
    width: 100% !important;
}