.container {
    width: 100%;
    /* margin-left: 0.5%; */
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    /* overflow:scroll;
    overflow-x: hidden; */
    height: auto;
  }
  .floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}
.table2 tr:hover {
    background-color: #D2EDF1;
  }

  .table2 {
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0;  
  }

 .table2 td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 .table2 th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
 }
 .floating-label-new2 {
    position: relative;
    display: flex;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black;
    border-radius: 4px;
    height: 34px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .label-text-drop1 {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .dropdown-button {
    padding: 4%;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-radius: 4px;
    box-sizing: border-box;
    /* margin-left: -3%; */
    height: 100%;
    line-height: 0px;
  }
  
  .dropdown-button:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: rgb(143, 19, 19);
    min-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    margin-top: 5px;
  }
  /* Style for the popover table */
  .dropdown-table-container {
    position: absolute;
    top: 53%;
    left: 26.3%;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 25%;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* margin-left: 25.5%;
    margin-top: -18%; */
  }
  
  /* Style for the dropdown table */
  .dropdown-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .dropdown-table th,
  .dropdown-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .dropdown-table tr:hover {
    background-color: #f4f4f4;
  }
  
  .dropdown-table td {
    cursor: pointer;
  }
  .tr1:hover {
    background-color: #D2EDF1;
  }
  .tr1:nth-child(even) {  
    background:#EFF1FF;  
  }
  .tr1:nth-child(odd) {  
    background-color: white;  
  }
  .floating-label-new {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
  }
  .description{
  /* width: 100%; */
  max-width: 125px; /* Example maximum width */
  overflow: hidden;
  text-overflow: ellipsis; /* Optional: Truncate text with ellipsis */
   /* Optional: Prevent wrapping */
  }
   .dropdown-input {
  width: 100%;
  padding: 8px 12px;
  border: none;
  outline: none;
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.2;
  background-color: white;
  cursor: text;
}