.bordercolourforStatus{
    
    margin-left: 5px;
    margin-top: 2px;
    padding-top: 10px;
    border: 1px solid rgba(39, 212, 91, 0.536);
}

.bordercolourforTotalHours{
    margin-left: 5px;
    margin-top: 2px;
    padding-top: 10px;
    border: 1px solid rgba(39, 212, 91, 0.536);
}
.button {
    color: white;
    background-color:#005C90;
    height: 30px;
    width: 80px;
    border-radius: 32px;
    float:right;
    border: none; 
}
.button:hover{
    background-color:#4a85d8;
    border: 1px solid rgba(229, 236, 231, 0.536); ;
    
}

.bordercolourforSubmit{
    margin-left: 5px;
    margin-top: 2px;
    margin-right: -10px;
    padding-top: 4px;
    border: 1px solid rgba(39, 212, 91, 0.536);
}

.monthClass{
    font-size: 13px; 
    font-weight: bold;
}

.HeaderStatus{
    text-align: center;
}

.TotalHours{
    padding-left: 20px;    
}

.CalenderMargin{
    padding-right: -90px;
}
.slds-scrollable {
    overflow-y: auto;
}
.ListOfTimeSheets{
  /*   width: 1000px;
    height: 500px; */
     background-color: white;  
  
    width: 100%;
    box-align :center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
   
    
}
.timeSheetIcon {
    background-color:  #E2EBEF;
    padding-top: 20px;
    padding-bottom: 10px;
    
}
.timesheetText{
    width:140px ;
    height:35px ;
    left:97px;
    font:Roboto;
    size:30px ;
    font-weight: bold;
    font-weight: 400;
    color: #333333;
    font-size: 18px;
   
}
.combobox{
    width: Hug (315px)px;
    height: Hug (40px)px;
   /*  left: 584px; */
    gap: 5px;
    padding: auto;
    padding-left: 15px;
    padding-right: 7px;  
}
.Arrow{
    width: Fixed (44px)px;
    height: Hug (42px)px;
    left: 923px;
    padding: 5px 5px 5px 5px;
    gap: 0px;
    border-radius: 32px;
   /*  border: 2px solid #005C90 ; */
    opacity: 0px;
    background-color: #FFFFFF;
    border-color: #005C90;
    margin-bottom: 7px;
    --sds-c-input-border-color:  #005C90;
   
}
.today{
    width: 193px;
    height: 44px;
    top: 3800px;
    left: 923px;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    padding: 5px 5px 5px 5px;

}
.datePicker{
    width: 200px;
    height: 44px;
    top: 3800px;
    left: 980px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    border-color:  #333333;
    border: 1px;

}
.month{
    /* top: 20px; */
    float:left;
    position:absolute;
    width: 94px;
    height: 23px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 13px;
    font-weight:bold;
    line-height: 23.44px;
    text-align: center;
    color: #333333;
}
.ResourcesHeading{
   width: 156px;
    top: 180px;
    font-size:13px;
    font-weight: bold;
    left: 53px;

}
  .savenDaysClassParent{
   /*  margin-left: -40px;  */
    left:146px; 
    margin-bottom: 2px; 
    float: left;
   
}
.summary{
    /* color: #000;
    font-family: Roboto;
    font-size:medium;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 5px; */
    color: #000;
    font-size:13px;

}
.resourseName{
    /* width: Hug (120px)px; */
    width: 13%;
    height: 5%;;
   /*  border-radius: 4px; */
    background: var(--Primary-White, #FFF);
    margin-top: 16px;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    
}
.bgcolour1{ 
   /*  border-radius:10px; 
    width: 130px;
    height: 65px;
    border-radius: 4px 4px 4px 4px;
    border: 1px ;
    opacity: 0px;
    border: 1px solid var(--medium-Light-Grey, #DFDCE3); */
   /*  background: #4D7A314D;  */
   /* background:#E2EBEF; 
    padding: 23px 60px 23px 60px; 
    margin:1px  1px 1px 1px; */
    text-align: center;
   
}
.boxTextInfo{
   /*  border-radius:10px; 
    width: 130px;
    height: 65px;
    border-radius: 4px 4px 4px 4px;
    border: 1px ;
    opacity: 0px;
    border: 1px solid var(--medium-Light-Grey,#a5f8c390);
  
     background: var(--Warning,#6bf59e90);   */
   /*  background: var(--Warning,rgba(234, 240, 236, 0.536)); */
    /* padding: 10px 1px 1px 1px; */
    /* margin:1px  1px 1px 1px; */
    text-align: center;
    background: #F6F6F6;
   
    }
 .sevenDaysClass{
        display: inline-flex;
        width:130px;
        height: 75px;
       /*  padding: 35px 5px; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid var(--medium-Light-Grey, #DFDCE3);
        background: var(--Primary-White, #FFF); 
        margin:1px;
    }

/* .IctTd{
   width:10%;
    height: 5%;
    flex:1;
}  */
.duraionClass{
    color: var(--Primary_White, #FFF);
    text-align: center;
   /*  font-family: Roboto; */
    font-size: 13px;
    /* font-style: normal;
    font-weight: 400;
    line-height: normal; */
    padding: 10px 10px 10px 10px ;
    color: #000;
}
.deleteClass{
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 4px;
    background: rgba(51, 51, 51, 0.10);
    align-items: center;
    
}
.finalHours{
    /* color: #000;
    font-family: Roboto;
    font-size:medium;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-left: 5px; */ 
    color: #000;
    font-size:13px;
    margin-left: 5px;
}
.finalHourstext{
    /* color: #000;
    font-family: Roboto;
    font-size:medium;
    font-style: normal;
    font-weight: 400;
    line-height: normal; */
    color: #000;
    font-size:13px;
}
.finalStatus{
   /*  color: #000;
    font-family: Roboto;
    font-size:medium;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px; */ 
    color: #000;
    font-size:13px;
    margin-left: 8px;

}
.finalSubmit{
    display: inline-flex;
  /*   min-width:50px;
    min-height: 42px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    border: 1px solid var(--Primary_Blue, #005C90);
    background: var(--Primary_White, #FFF); 
     --sds-c-input-radius-border:18px;
       width: 130px;*/
   
     border-radius: 50%; 
     margin-bottom: 8px;
     margin-right: 10px; 
     color: white;
   /*  background-color:#005C90; */
    --slds-c-button-color-background:#FFF ;
}
.textfontsize
{
    color: var(--Primary_White, #FFF);
    text-align: center;
    padding-left: 1px;
    /* 14px Body */
    /* font-family: Roboto; */
    font-size: 13px;
    /* font-style: normal;
    font-weight: 400;
    line-height: normal; */
    color: #000;
}
.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
}

.search-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
}



.button-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.action-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 20px;
    }

    .search-section {
        justify-content: left;
    }

    .responsive-input {
        width: 100%;
    }

    .button-group {
        justify-content: left;
    }

    .action-section {
        justify-content:left;
    }
}
.floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}
@keyframes fadeOutSlide {
    0% {
        opacity: 0;
        transform: translateX(100%); /* Start off-screen on the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

@keyframes fadeOutSlideReverse {
    0% {
        opacity: 1;
        transform: translateX(0); /* Start at the original position */
    }
    100% {
        opacity: 0;
        transform: translateX(100%); /* Move off-screen to the right */
    }
}


.right-align {
    position: absolute; 
    right: -2.2%;
    top: 0%;
    height:auto; /* Full height of the parent container */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
    background-color: #F3F5F7;
    z-index: 1000;
   /*  overflow-y: hidden;
    overflow-x: hidden;  */
    animation: fadeOutSlide 1s ease-in-out;
    margin-left:5%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 999;
}
.seperator {
    background-color: white;
    border-radius: 8px;
    margin: 2%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    height: auto;
    padding: 1%;
}
.table1 {
    border-collapse:separate;

    overflow: hidden;  
    border-spacing: 0;  
  }
 .table1 td {
    border: 1px solid #E9E9E9;
 }
 .table1 th {
    border: 1px solid #E9E9E9;
 }
 .my-button-text{
    /* background:WHITE;
    color: #ccc; */
    cursor: pointer;
 }
 .bgColor1{
    background: #FFB1B1;
    margin: 5%;

 }
 .bgColor2{
    background: white;
    
 }
 .bgColor3{
    background: #c2e1fa;
    margin: 5%;

 }
 .description{
     /* Adjust as needed */
    max-width: 200px; /* Example maximum width */
    overflow: hidden;
    text-overflow: ellipsis; /* Optional: Truncate text with ellipsis */
     /* Optional: Prevent wrapping */
}
.description:hover {
    white-space: normal; /* Allow text to wrap and display full content on hover */
    overflow: visible; /* Ensure full content is visible */
    text-align:justify;
}
/* .table2 tr:hover {
    background-color: #D2EDF1;
  }

  .table2 {
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0;  
  }

 .table2 td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 .table2 th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
 } */


 
.day-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.day-left {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 4%;
    color: #2c2c2c;
}

.day-name {
    text-transform: uppercase;
    font-size: 14px;
    color: #666;
}

.day-date {
    font-size: 24px;
    color: #000;
    margin-top: 2px;
    font-weight: 400;
}

.holiday-spacer-bottom {
  position: absolute;
  bottom: 2px;
  left: 5%;
  width: 90%;
  min-height: 15px;
  text-align: center;
}

.holiday-label {
    font-size: 10px;
    font-weight: bold;
    color: #130000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 2%;
    margin-right: 1%;
    max-width: 70%;
}

.main-container {
    width: 98%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1%;
    height: 87vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.calendar-part {
  height: 66.5vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0 0 8px 8px;
 /*  border: 0.5px solid #ccc; */
}

.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0099DE;
}
.fixed-pagination {
    position: sticky;
    bottom: 0;
    padding: 10px 20px;
    z-index: 10;
}
.staff-member {
  display: flex;
  align-items: start;
  position: RELATIVE;
  cursor: pointer;
  font-size: 14px;
  justify-content: space-between;
  /*   width: 15%; */
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
  box-sizing: border-box;
}

/* .staff-member:hover {
  border-bottom: 1px solid #014254;
  border-top: 1px solid #014254;
  background-color: #c0f1ff;
} */

.staff-member:last-child {
  border-bottom: none;
}
.firstcellwidth {
  width: 13%;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.floating-label-new {
  position: relative;
  display: block;
  font-size: 14px;
  color: #555;
  border: 1px solid black;
  border-radius: 4px;
  height: 34px;
  box-sizing: border-box;
}
/* for 125dpi */
@media (min-resolution: 101dpi) {

           .main-container {

    height: 84vh;
}


.calendar-part {
  height: 59.5vh;
}


}


/* for 150dpi */

@media (min-resolution: 126dpi) {

  .main-container {
    height: 81vh;
  }


.calendar-part {
  height: 52.5vh;
}


}