.container-box {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 15px; /* Reduced padding */
    width: 350px;  /* Smaller div */
    transition: all 0.3s ease-in-out;
}
.container-box:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }


.container-box1 {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 15px; /* Reduced padding */
    width: 350px;  /* Smaller div */
    transition: all 0.3s ease-in-out;
}
.container-box1:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  .container-box2 {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 15px; /* Reduced padding */
    /*width: 350px;*/  /* Smaller div */
    transition: all 0.3s ease-in-out;
}
.container-box2:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }