.payGrouptable{
    width: 100%;
    padding:1%;
}
.tr1:nth-child(even) {  
    /* background:#EFF1FF;   */
     background:#F1F1F1;  
}
.tr1:nth-child(odd) {  
    /* background-color: white;   */
      background-color: #FFFFFF; 
}

.th{
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
}
table {
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0;  
  } 
  table td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 table th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
 }
 table tr:hover {
    /* background-color: #D2EDF1; */
     background-color: #EEF4FF;
  }
  .floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}

.floating-label-role {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 280px;
    box-sizing: border-box;
    padding-left: 2%;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
}

.search-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
}



.button-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.action-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 20px;
    }

    .search-section {
        justify-content: left;
    }

    .responsive-input {
        width: 100%;
    }

    .button-group {
        justify-content: left;
    }

    .action-section {
        justify-content:left;
    }
}
@keyframes fadeOutSlide {
    0% {
        opacity: 0;
        transform: translateX(100%); /* Start off-screen on the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

@keyframes fadeOutSlideReverse {
    0% {
        opacity: 1;
        transform: translateX(0); /* Start at the original position */
    }
    100% {
        opacity: 0;
        transform: translateX(100%); /* Move off-screen to the right */
    }
}

.right-align {
    position: absolute; 
    right: 0;
    top: 0%;
    height: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
    /* background-color: #f5faff; */
    background-color: #F3F5F7;
    z-index: 1000;
    animation: fadeOutSlide 1s ease-in-out;
    margin-left:5%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.seperator {
    background-color: white;
    border-radius: 8px;
    margin: 3%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}