/* .container {
	margin: 30px auto;
	background: #f5faff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	height: auto;
  }
.container-box {
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: white;
    transition: all 0.3s ease-in-out;
  }

  .container-box:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  } */

  .status {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
    gap: 15px; 
    width: 100%;
    overflow: hidden;
}


.icon {
    width: 40px; 
    height: 40px;
    min-width: 40px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
}

.custom-icon-completed { 
    --slds-c-icon-color-foreground: #ffffff;
    --slds-c-icon-color-background: #008000;
}

.custom-icon-Progress { 
    --slds-c-icon-color-foreground: #ffffff;
    --slds-c-icon-color-background: #ff9800;
}

.custom-icon-accepted { 
    --slds-c-icon-color-foreground: #ffffff;
    --slds-c-icon-color-background: #0070d2;
}




.text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0; 
    overflow-wrap: break-word; 
    word-wrap: break-word;
    white-space: nowrap; 
    FONT-SIZE: 15PX;
}


.label {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    color: #333;
    
}

.count {
    font-size: 65%;
    margin: 0;
    color: #666;
}

:host {
    display: block;
    height: 100%;
}
canvas {
    height: 100% !important;
    width: 100% !important;
}

/* 
@media (max-width: 600px) {
    .label {
        font-size: 24px; 
    }

    .count {
        font-size: 20px;
    }

    .icon {
        width: 45px;
        height: 45px;
    }
} */