.floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}


.main-container {
    width: 96%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2%;
    height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
/* for 125dpi */
@media (min-resolution: 101dpi) {

           .main-container {

    height: 82vh;
}
.major-cont {

    height: 68vh;
} 

.right-content {

    height: 72vh;
}

}


/* for 150dpi */

@media (min-resolution: 126dpi) {

  .main-container {
    height: 79vh;
  }

  .major-cont {
    height: 62vh;
  }
  .right-content {

    height: 68vh;
}
}