.HrClass1{
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
    background:#005C90;
    color : white; 
    margin-left: 1px;  
} 
.HrClass2{
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
    background:white; color: black;
    margin-left: 1px;
    /* margin-top: 10px; */
}