.menu-container {
    background-color:#003466; 
    display: flex;
    align-items: center;
  font-weight:bold;
    
}
.menu-item {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
}
.menu-item1{
    position: relative;
    padding: 11.5px 15px;
    color: white;
    background-color:#0C78BA;
    cursor: pointer;
}

.button-item {
    display: inline-block;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    color: #00008B;
    text-align: center;
    font-size: 18px;
    padding: 15px 25px;
    text-decoration: none;
    box-shadow: 0 6px #999;
    transition: all 0.3s ease;
    cursor: pointer;
}
.menu-item:hover {
    background-color: #0C78BA;
}
.button-item1:hover {
    background-color: #20B2AA; 
}
.menu-item.active {
    background-color: white;
}

.menu-item1::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #0C78BA;
}
.main-container {
    width: 98%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1%;
    height: 87vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 80vh;
}


.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0099DE;
}

/* for 125dpi */
@media (min-resolution: 101dpi) {

           .main-container {

    height: 82vh;
}
        .table-container {
            height: 70vh;
        } 
        .content-wrapper {

    height: 76vh;
}


}


/* for 150dpi */

@media (min-resolution: 126dpi) {

  .main-container {
    height: 79vh;
  }

    .table-container {
        height: 63vh;
    } 
        .content-wrapper {

    height: 71vh;
}

}



/*Next Design Purpose*/




/* .menu-container {

    height: 50px;
    background-color:#003466;
    border: 3px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 30px; 
    display: flex;
    align-items: center;
    padding-left: 30px;
    
    font-weight:bold;
    margin: 0 1% 1%;
    
}
.menu-item {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
.menu-item1{
    padding: 10px 15px;
    color: black;
    background-color:white;
    cursor: pointer;
    margin-right: 20px;
    border-radius:5px;
}
.button-item {
    display: inline-block;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    color: #00008B;
    text-align: center;
    font-size: 18px;
    padding: 15px 25px;
    text-decoration: none;
    box-shadow: 0 6px #999;
    transition: all 0.3s ease;
    cursor: pointer;
}
.menu-item:hover {
    background-color: #1E90FF; 
}
.button-item1:hover {
    background-color: #20B2AA; 
}
.menu-item.active {
    background-color: white; 
} */