/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background-color: #f4f8ff;
}

img {
  vertical-align: middle; /* Align icon with text */
  margin-right: 5px; /* Add spacing between icon and text */
  margin-left: 10px;
}

.iconsidebar {
  pointer-events: none;
  cursor: default;
}


/* Sidebar */ 
.sidebar {
  position: fixed;
  top: 0%;
  width:16%;
  /* height: 110%; */
  min-height: 100vh;
  /* background: linear-gradient(to bottom, #002A52, #0C78BA); */
  background-color: #022951;
  color: white;
  max-height:inherit;
  overflow:hidden;
  scrollbar-width: thin;
  padding: 0;
  z-index:998;
  left: 0;  
  border-radius: 0px 6px 6px 0px;  
  overflow-y: auto;
  scrollbar-width: none; /* Firefox: Hide scrollbar */
  -ms-overflow-style: none; /* IE/Edge: Hide scrollbar */
}

.sidebar::-webkit-scrollbar {
display: none;
}

.sidebar:hover{
  overflow:auto;
}

.sidebar .logo {
  text-align: left;
  padding: 20px;
  padding-left: 13px;
  background-color: #002A52;
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 50px;
}

/* .sidebar .menu li {
  padding: 10px;
} */

.parentlist {
  padding: 0px;
  
}

.sidebar .menu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}



/* Hover Effect for Menu Items */
.menu-link:hover {
background-color: #006599; /* Hover color */
color: #ffffff;
}

/* Active Menu Item */
.menu-link.active {
background-color: #0C78BA; /* Active item background color */
color: #ffffff; /* Active item text color */
font-weight: bold; /* Optional: Highlight active item with bold text */
border-left: 3px solid #ffffff; /* Optional: Add border for more visibility */
}



/* Main Content */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: white;
  overflow-y: auto;
}
/* .sidebar .menu  li .menu-link:hover{
  background:blue;
}
.sidebar .menu  li .menu-link:active{
  background:red;
} */

.fade-in {
  opacity: 0;
  transform: translateX(-20%); /* Start off-screen on the left */
  animation: fadeOutSlide 1s forwards;
}

@keyframes fadeOutSlide {
  0% {
      opacity: 0;
      transform: translateX(-20%); /* Start off-screen on the left */
  }
  100% {
      opacity: 1;
      transform: translateX(0); /* End at the original position */
  }
}


/* Subcategory Wrapper */
.subcat {
background-color: #004D7C; /* Background color for the submenu wrapper */
padding: 0; /* Remove default padding */
}

.subcat li {
list-style: none;
position: relative; /* Ensure pseudo-elements are positioned relative to the list item */
}

/* .subcat li::after {
content: ''; 
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 1px;
background: linear-gradient(to right, rgba(0, 77, 124, 0), #b8b8b8, rgba(0, 77, 124, 0));
} */


.subcat li:last-child {
border-bottom: none; /* Remove the bottom border from the last item */
}

/* Subcategory Links */
.subcat li a {
color: white;
text-decoration: none;
display: flex; /* Align icon and text */
align-items: center;
padding-left:30px; /* Add padding */
transition: background-color 0.3s ease; /* Smooth hover transition */

}

/* Hover Effect */
.subcat li a:hover {
background-color: #076299;
color: #FFFFFF; 
}

.subcat a.active {
background-color: #076299; 
color: #ffffff;
font-weight: bold;
border-radius: 4px; 
display: block;
position: relative;
}


.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.t-sign-container {
  position: relative;
  display: inline-block;
}

.beta-label {
  position: absolute;
  color: #ff9800;
  font-size: 60%;
  font-weight: 900;
  padding-left: 0.5%;
  pointer-events: none;
}