.container {
    width: 100%;
    /* margin-left: 0.5%; */
    /* padding: 20px; */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    /* overflow:scroll;
    overflow-x: hidden; */
    height: auto;
  }
  .menu-container {
    width: 98%;
    height: 50px;
    background-color:#003466; /* Dark blue background */
    border: 3px solid #ccc; /* Light border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow */
    border-radius: 30px; /* Rounded corners */
    display: flex;
    align-items: center;
    padding-left: 2%;
    font-weight:bold;
    margin-left:1%;
    margin-bottom: 1%;
}
.menu-item {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
.menu-item1{
    padding: 10px 15px;
    color: black;
    background-color:white;
    cursor: pointer;
    margin-right: 20px;
    border-radius:5px;
}
.container-box {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 2% 1%;
  }
  .toggle-bar {
    /* background-color: #f0f0f0; */
    background-color: #E0E0E0;
    padding: 10px 20px;
    /* color: white; */
  
    border-radius: 5px 5px 0px 0px;
    font-size: 16px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .toggle-bar:hover {
    background-color: #022951;
    color: white;
    border-radius: 5px 5px 0px 0px;
  
  
  }
  .hidden-section {
    display: none;
}
@keyframes fadeOutSlide {
  0% {
      opacity: 0;
      transform: translateX(100%); /* Start off-screen on the right */
  }
  100% {
      opacity: 1;
      transform: translateX(0); /* End at the original position */
  }
}

.right-align1 {
  position: absolute; 
  right: 0;
  top: 0%;
  height: auto; /* Full height of the parent container */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
  background-color: #f5faff;
  z-index: 1000;
  padding: 1%;
  animation: fadeOutSlide 1s ease-in-out;
  margin-left:5%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  z-index: 999;
}
.modal-header {
  background: #124795;
  border-radius: 15px 15px 0 0;
  text-align: center;
  padding: 1rem; 
}
.modal-title {
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  }
  
  /* Center the buttons */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.modal-content{
justify-content: center;
}
.slds-modal__container{
max-width: 70rem !important;
width: 45% !important;
}