.geeks {
   
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
}
.container {
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    max-height: auto;
   
}

.geeks img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.geeks:hover img {
    transform: scale(1.5);
}
.my-icon{
    --sds-c-icon-color-foreground-default:#0176d3;
    z-index: 1
    
}
.HrClass1{
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
    background:#005C90;
    color : white; 
    margin-left: 1px;  
} 
.HrClass2{
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
    background:white; color: black;
    margin-left: 1px;
    /* margin-top: 10px; */
}
.Hrsubbutton{
    background:#005C90;
    color : white; 

}
.hrlayout{
width:99%;
height: auto;
top: 143px;
left: 50px;
gap: 0px;
border-radius: 6px 6px 6px 6px;
opacity: 0px;
background: var(--Primary_White, #FFFFFF);
padding: 10px 10px 10px 10px;
margin: 10px 20px 10px;
margin-left: 0.5%;
align-content: center;
overflow:hidden;

}
.tr1:nth-child(even) {  
    background:#EFF1FF;  
}
.tr1:nth-child(odd) {  
    background-color: white;  
}
table tr:hover {
    background-color: #D2EDF1;
  }

  table {
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0;  
  }

 table td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 table th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
 }
 .floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}
.container-box {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 1% 1%;
  }
  .toggle-bar {
    background-color: #f0f0f0;
    padding: 10px 20px;
    /* color: white; */
  
    border-radius: 5px 5px 0px 0px;
    font-size: 16px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .toggle-bar:hover {
    background-color: #022951;
    color: white;
    border-radius: 5px 5px 0px 0px;
  
  
  }
  .floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}