.file-uploader {
    margin-left: 4%;    
    margin: 0px auto;    
    width: 300px;    
    }
    
    .error-message {    
    margin-top: 8px;    
    font-size: 12px;    
    color: red;    
    }
    
    .upload-button {    
    margin-top: 16px;    
    }
    
    .datatable-container {    
    width: auto;    
    }
    .tr1:nth-child(even) {  
        background: var(--Light-Grey, #ECECEC);  
    }
    .tr1:nth-child(odd) {  
        background-color: white;  
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the min and max width as needed */
        grid-gap: 10px; /* Adjust the gap between items as needed */
        justify-content: space-between; /* Distributes items evenly along the row */
        align-items: center; /* Aligns items vertically */
    }
      
      .grid-item {
        flex: 1; /* Flex property to allow items to grow equally */
        margin: 5px; /* Add some margin between items */
    }

    .preview-icon {
        fill: blue;
    }
    .tr1:nth-child(even) {  
        background:#EFF1FF;  
    }
    .tr1:nth-child(odd) {  
        background-color: white;  
    }
    table tr:hover {
        background-color: #D2EDF1;
      }
    .th{
        background-color:#003466;
        color:white;
        font-family:Light 300;
        font-weight:bold;
    }
    table {
        border-collapse:separate;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0px 0;
        border-left: 1px solid rgba(0, 41, 70, 0.6);
        border-top: 1px solid rgba(0, 41, 70, 0.6);
        border-bottom: 1px solid rgba(0, 41, 70, 0.6);
        border-radius:10px;
        overflow: hidden;  
        border-spacing: 0;  
      }
     table td {
        border-right: 1px solid rgba(0, 41, 70, 0.6);
     }
     table th {
        border-right: 1px solid rgba(0, 41, 70, 0.6);
     }
     .description{
        width: 5%; /* Adjust as needed */
        max-width: 200px; /* Example maximum width */
        overflow: hidden;
        text-overflow: ellipsis; /* Optional: Truncate text with ellipsis */
        white-space:nowrap;
 
         /* Optional: Prevent wrapping */
    }
    .description:hover {
        white-space: normal; /* Allow text to wrap and display full content on hover */
        overflow: visible; /* Ensure full content is visible */
        text-align:initial;
    }

    .slds-form-element__lightning-output-field {
        font-weight: bold;
    }