/* .container-box {
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: white;
	margin-bottom: 20px;
	transition: all 0.3s ease-in-out;
  }

  .container-box:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  } */

:host {
    display: block;
    /* height: 100%; */
}
canvas {
    height: 270px !important;
    width: 100% !important;
}
/* for 125dpi */
@media (min-resolution: 101dpi) {

canvas{
height: 200px !important;
}
}


/* for 150dpi */

@media (min-resolution: 126dpi) {

  .main-container {
    height: 79vh;
  }

    .table-container {
        height: 63vh;
    } 

        .table-container-permission {
    	    height: 11vh;
}
}