.participantlayout {
  width: 100%;
  height: auto;
  border-radius: 6px 6px 6px 6px;
  background: var(--Primary_White, #ffffff);
  padding: 10px;
  /* margin-top: 10px; */
}
.no-data {
  text-align: center;
  padding: 3rem 1rem;
  color: #6b7280;
}

.no-data p {
  font-size: 22px;
  margin: 0;
}

@keyframes fadeOutSlide {
  0% {
    opacity: 0;
    transform: translateX(100%); /* Start off-screen on the right */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at the original position */
  }
}

@keyframes fadeOutSlideReverse {
  0% {
    opacity: 1;
    transform: translateX(0); /* Start at the original position */
  }
  100% {
    opacity: 0;
    transform: translateX(100%); /* Move off-screen to the right */
  }
}

.right-align {
  position: absolute; /* Or fixed if you want it to stay in place while scrolling */
  right: -2.2%;
  top: 0%;
  /*  height: 85vh; */ /* Full height of the parent container */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  background-color: #f3f5f7; /* Optional background color */
  z-index: 1000; /* Ensure it's above other elements */
  overflow-y: auto;
  overflow-x: hidden;
  animation: fadeOutSlide 1s ease-in-out;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.right-align-reverse {
  position: absolute; /* Or fixed if you want it to stay in place while scrolling */
  right: 0;
  top: 0;
  height: 100vh; /* Full height of the parent container */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  background-color: #ffffff; /* Optional background color */
  z-index: 10; /* Ensure it's above other elements */
  overflow-y: auto;
  overflow-x: hidden;
  animation: fadeOutSlideReverse 1s ease-in-out;
}
.container {
  margin: 30px auto;
  background: #f5faff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: auto;
}
.container-box {
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow-y: auto;
  height: 66vh;
  padding-right: 1%;
}
.toggle-bar {
  background-color: #e0e0e0;
  padding: 10px 20px;
  /* color: white; */

  border-radius: 5px 5px 0px 0px;
  font-size: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.toggle-bar:hover {
  background-color: #022951;
  color: white;
  border-radius: 5px 5px 0px 0px;
}
.floating-label {
  position: relative;
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 3px;
  border: 1px solid black;
  border-radius: 4px;
  height: 34px;
  box-sizing: border-box;
}

.label-text-drop {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  padding: 0 4px;
  font-size: 12px;
  color: #333;
  font-weight: bold;
  pointer-events: none;
  z-index: 500;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Semi-transparent dark overlay */
  backdrop-filter: blur(5px); /* Blur effect */
  z-index: 999; /* Place it above the main content */
}
.task-heading {
  font-size: 1.5rem; /* Adjust the size as needed */
  font-weight: bold;
  margin-bottom: 1rem;
  color: #000000;
  padding-top: 10px;
  padding-left: 15px;
}
.tr1:nth-child(even) {
  background: #f1f1f1;
}
.tr1:nth-child(odd) {
  background-color: #ffffff;
}
table tr:hover {
  background-color: #eef4ff;
}

table {
  border-collapse: separate;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0px 0;
  border-left: 1px solid rgba(0, 41, 70, 0.6);
  border-top: 1px solid rgba(0, 41, 70, 0.6);
  border-bottom: 1px solid rgba(0, 41, 70, 0.6);
  border-radius: 10px;
  overflow: hidden;
  border-spacing: 0;
}

table td {
  border-right: 1px solid rgba(0, 41, 70, 0.6);
}
table th {
  border-right: 1px solid rgba(0, 41, 70, 0.6);
  background-color: #003466;
  color: white;
  font-family: Light 300;
  font-weight: bold;
}
.description {
  width: 20%; /* Adjust as needed */
  max-width: 200px; /* Example maximum width */
  overflow: hidden;
  text-overflow: ellipsis; /* Optional: Truncate text with ellipsis */
  /* Optional: Prevent wrapping */
}
/* .description:hover {
    white-space: normal; 
    overflow: visible; 
    text-align:justify;
} */
.material-icons {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: normal;
  color: #666666;
  cursor: pointer;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings:
    "FILL" 0,
    "wght" 200,
    "GRAD" 0,
    "opsz" 40;
  font-size: 24px;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.edit-icon:hover {
  color: #3175da;
  font-variation-settings:
    "FILL" 1,
    "wght" 300,
    "GRAD" 0,
    "opsz" 40;
}
.save-icon:hover {
  color: #3175da;
  font-variation-settings:
    "FILL" 1,
    "wght" 300,
    "GRAD" 0,
    "opsz" 40;
}

.delete-icon:hover {
  color: #b71c1c;
  font-variation-settings:
    "FILL" 1,
    "wght" 300,
    "GRAD" 0,
    "opsz" 40;
}

.view-icon:hover {
  color: #2d2c2c;
  font-variation-settings:
    "FILL" 1,
    "wght" 300,
    "GRAD" 0,
    "opsz" 40;
}

.rule-icon:hover {
  color: #002a52;
  font-variation-settings:
    "FILL" 1,
    "wght" 300,
    "GRAD" 0,
    "opsz" 40;
}

.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.custom-scroll::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0099de;
}
.qty-edit-container {
  display: flex;
  align-items: center;
  gap: 8px;
  /* justify-content: space-between */
}

.qty-value {
  display: inline-block;
  min-width: 35px; /* keeps space constant for decimals */
  text-align: left; /* aligns numbers nicely */
}

.edit-icon {
  cursor: pointer;
  font-size: 18px;
  color: #0070d2;
}

.save-icon {
  cursor: pointer;
  font-size: 18px;
  color: #0070d2;
  position: relative;
  line-height: 1; /* prevents extra vertical space */
}

.no-border lightning-output-field {
  border-bottom: none !important;
}