.fileSTPHeadings{
    text-align: left;
    font-size: 16px;
}

.authorizationtoFile{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.currentUser{
    /*text-align: left;*/
    margin-left:20px;
    font-size: 14px;    
}

.paragraph{    
    margin-left:30px;
    font-size: 14px;    
}

.byClickingParagraph{    
    margin-left:20px;
    font-size: 14px;    
}
.payruncontainer{
    width: 100%;
    /* padding: left 10px; */
   /*  padding-right: 10px;   */
    border-radius: 6px;
    background: var(--Primary_White, #FFF);
    font-family:Light 300;
    color:black;
    padding:1%;
    
    
}
.payruntext{
    color: var(--Basic-Black, #333);
    /* H4 */
    /* font-family: Roboto; */
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    padding-top: 20px;
    padding-left: -5px;
    position:absolute;
    
}
.payrollTableTD{
    display: flex;
    width: 404px;
    padding: 12px;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid var(--Medium-Grey, #7A7A7A);
    background: var(--medium-Light-Grey, #DFDCE3);
}
.PayRunHeading{
    width: 100%;
    background-color: aqua;
}
.tr1:nth-child(even) {  
    /* background:#EFF1FF;   */
     background:#F1F1F1;  
}
.tr1:nth-child(odd) {  
    /* background-color: white;   */
    background-color: #FFFFFF;
}
table tr:hover {
    /* background-color: #D2EDF1; */
    background-color: #EEF4FF;
  }
.status{
    color:white;
    background-color:#ffc107;
    padding-left:30px;
    padding-right:30px;
    border-radius:10px;
    font-weight:bold;
    
}
.Submitted{
    color:white;
    background-color:#0099de;
    padding-left:20px;
    padding-right:20px;
    border-radius:10px;
    font-weight:bold;
}
.Finalised{
    color:white;
    background-color:rgb(238, 44, 44);
    padding-left:25px;
    padding-right:25px;
    border-radius:10px;
    font-weight:bold;
}
.STP{
    color:white;
    background-color:#0fa549;
    padding-left:25px;
    padding-right:25px;
    border-radius:10px;
    font-weight:bold;

}
.th{
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
}
table {
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0;  
  }
 table td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 table th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }

.no-data {
    text-align: center;
    padding: 3rem 1rem;
    color: #6B7280;
}

.no-data p {
    font-size: 22px;
    margin: 0;
}

 @keyframes fadeOutSlide {
    0% {
        opacity: 0;
        transform: translateX(100%); /* Start off-screen on the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

@keyframes fadeOutSlideReverse {
    0% {
        opacity: 1;
        transform: translateX(0); /* Start at the original position */
    }
    100% {
        opacity: 0;
        transform: translateX(100%); /* Move off-screen to the right */
    }
}

.right-align {
    position: absolute; 
    right: 0;
    top: 0%;
    height: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
    /* background-color: #f5faff; */
    background-color: #F3F5F7;
    z-index: 1000;
    /* overflow-y: auto;
    overflow-x: hidden; */
    animation: fadeOutSlide 1s ease-in-out;
    margin-left:5%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 88vh;
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.seperator {
    background-color: white;
    border-radius: 8px;
    margin: 3%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}
.container-box {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 2% 1%;
  }
  .toggle-bar {
    /* background-color: #f0f0f0; */
     background-color: #E0E0E0;
    padding: 10px 20px;
    /* color: white; */
  
    border-radius: 5px 5px 0px 0px;
    font-size: 16px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .toggle-bar:hover {
    background-color: #022951;
    color: white;
    border-radius: 5px 5px 0px 0px;
  }
  .floating-label {
    position: relative;
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 3px;
    border: 1px solid black; 
    border-radius: 4px; 
    height: 34px;
    box-sizing: border-box;
}
 
.label-text-drop {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
    z-index: 500;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
}

.search-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
}



.button-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.action-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 20px;
    }

    .search-section {
        justify-content: left;
    }

    .responsive-input {
        width: 100%;
    }

    .button-group {
        justify-content: left;
    }

    .action-section {
        justify-content:left;
    }
}
.hidden-section {
    display: none;
}
.material-icons {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: normal;
    color: #666666;
    cursor:pointer;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    font-variation-settings:
        'FILL' 0,
        'wght'200,
        'GRAD' 0,
        'opsz' 40;
    font-size: 24px;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


.edit-icon:hover {
    color: #3175DA;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 40;
}


.delete-icon:hover {
    color: #b71c1c;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 40;
}


.view-icon:hover {
    color: #2d2c2c;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 40;
}


.rule-icon:hover {
    color: #002A52;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 40;
}

.main-container {
    width: 98%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1%;
    height: 87vh;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0099DE;
}
.right-content {
    overflow-y: auto;
    height: 75vh;
    padding-right: 1%;
}


/* for 125dpi */
@media (min-resolution: 101dpi) {

           .main-container {

    height: 84vh;
}
.right-content {

    height: 72vh;
}


}


/* for 150dpi */

@media (min-resolution: 126dpi) {

  .main-container {
    height: 81vh;
  }
  .right-content {

    height: 68vh;
}

}