.fileSTPHeadings{
    text-align: left;
    font-size: 16px;
}

.authorizationtoFile{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.currentUser{
    /*text-align: left;*/
    margin-left:20px;
    font-size: 14px;    
}

.paragraph{    
    margin-left:30px;
    font-size: 14px;    
}

.byClickingParagraph{    
    margin-left:20px;
    font-size: 14px;    
}
.payruncontainer{
    width: 100%;
    padding: left 10px;
    padding-right: 10px;  
    border-radius: 6px;
    background: var(--Primary_White, #FFF);
    font-family:Light 300;
    color:black;
    
    
}
.payruntext{
    color: var(--Basic-Black, #333);
    /* H4 */
    /* font-family: Roboto; */
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    padding-top: 20px;
    padding-left: -5px;
    position:absolute;
    
}
.payrollTableTD{
    display: flex;
    width: 404px;
    padding: 12px;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid var(--Medium-Grey, #7A7A7A);
    background: var(--medium-Light-Grey, #DFDCE3);
}
.PayRunHeading{
    width: 100%;
    background-color: aqua;
}
.tr1:nth-child(even) {  
    background:#EFF1FF;  
}
.tr1:nth-child(odd) {  
    background-color: white;  
}
table tr:hover {
    background-color: #D2EDF1;
  }
.status{
    color:white;
    background-color:#ffc107;
    padding-left:30px;
    padding-right:30px;
    border-radius:10px;
    font-weight:bold;
    
}
.Submitted{
    color:white;
    background-color:#0099de;
    padding-left:20px;
    padding-right:20px;
    border-radius:10px;
    font-weight:bold;
}
.Finalised{
    color:white;
    background-color:rgb(238, 44, 44);
    padding-left:25px;
    padding-right:25px;
    border-radius:10px;
    font-weight:bold;
}
.STP{
    color:white;
    background-color:#0fa549;
    padding-left:25px;
    padding-right:25px;
    border-radius:10px;
    font-weight:bold;

}
.th{
    background-color:#003466;
    color:white;
    font-family:Light 300;
    font-weight:bold;
}
table {
    border-collapse:separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    border-left: 1px solid rgba(0, 41, 70, 0.6);
    border-top: 1px solid rgba(0, 41, 70, 0.6);
    border-bottom: 1px solid rgba(0, 41, 70, 0.6);
    border-radius:10px;
    overflow: hidden;  
    border-spacing: 0;  
  }
 table td {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }
 table th {
    border-right: 1px solid rgba(0, 41, 70, 0.6);
 }