lightning-button.Facility {
    --sds-c-button-brand-color-background: #191970;
    --sds-c-button-text-color: #f4f7f9;
}

lightning-button.Clients {
    --sds-c-button-brand-color-background: #00BFFF;
    --sds-c-button-text-color: #f4f7f9;
}

lightning-button.Staff {
    --sds-c-button-brand-color-background: #B22222;
    --sds-c-button-text-color: #f4f7f9;
}

lightning-button.ManageSubscription {
    --sds-c-button-brand-color-background: #bb00ff;
    --sds-c-button-text-color: #f4f7f9;
}

.buttonPosition{
        padding: 10px;
        margin: 10px auto;
        text-align: center;
        color: white;
}
.geeks {
   
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
}

.geeks img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.geeks:hover img {
    transform: scale(1.5);
}